<%
  breadcrumb :staff_applications_edit, @application
  @title = 'Make Decisions'
%>

<%= form_for(@application, url: staff_application_path(@application)) do |f| %>
  <p class="text-darkish">You can make decisions for the courses listed. Once the student has received decisions on all
    their courses they will be asked to choose which ones they would like to study. You may optionally leave a note on
    an decision, either explaining why a rejection was taken, or what requirements a student must meet with a
    conditional offer.</p>

  <%= form_errors @application %>

  <%= f.fields_for :course_selections, policy_scope(@application.course_selections) do |g| %>

    <div class="well">
      <h3 class="no-top-margin"><%= g.object.course.title %></h3>

      <ul class="list-unstyled">
        <li>College: <%= g.object.course.college.name %></li>
        <li>Category: <%= g.object.course.category.name %></li>
      </ul>

      <div class="form-group">
        <%= g.label :college_offer, 'Make Decision' %>
        <% options = '<option disabled="disabled" selected="selected">-- Choose --</option>'.html_safe + options_for_select(CourseSelection.college_offers.map {|k, v| [k.humanize, k]}, g.object.college_offer) %>
        <%= g.select :college_offer, options, {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= g.label :note, 'Note (optional)' %>
        <%= g.text_area :note, class: 'form-control', rows: 4 %>
      </div>
    </div>
  <% end %>

  <div class="actions text-right">
    <p class="small text-darkish">Update application with decisions.</p>
    <%= f.submit 'Update Decisions', class: 'btn btn-default' %>
  </div>

<% end %>
