<%
  breadcrumb :staff_applications_show, @application
  @title = 'View Application'
%>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <div class="well">
      <h3 class="no-top-margin">Information</h3>
      <ul class="list-unstyled">
        <li>Username: <%= @application.student.username %></li>
        <li>Submitted: <%= format_date @application.submitted_date %></li>
        <li>Created: <%= format_date @application.created_at %></li>
        <li>Updated: <%= format_date @application.updated_at %></li>
        <li>Status: <%= @application.status.humanize %></li>
      </ul>
    </div>
  </div>

  <div class="col-md-9 col-sm-12">
    <% if @application.submitting? %>
      <div class="alert alert-warning">
        <strong>Warning</strong>
        This application has not been submitted yet.
      </div>
    <% end %>

    <div class="well">
      <h3 class="no-top-margin">Course Selections</h3>
      <p class="text-darkish">The student has made the following course selections.</p>
      <ol class="list-group">
        <% policy_scope(@application.course_selections).includes(course: [:college, :category]).each do |selection| %>
          <li class="list-group-item list-group-item-info">
            <div class="row">
              <div class="col-sm-9" title="<%= selection.course.title %> - <%= selection.course.category.name %>">
                <%= truncate selection.course.title, length: 83 %>
                <br>
                <small><%= selection.course.college.name %> | <%= selection.course.category.name %></small>
              </div>
              <div class="col-sm-3 text-right">
                <strong><%= selection.college_offer.humanize if selection.college_offer %></strong>
              </div>
            </div>
          </li>
        <% end %>
      </ol>
      <div class="text-right">
        <% if @application.awaiting_decisions? %>
          <p class="text-darkish small">Check the student's application to make sure they meet the entry requirements of the course.</p>
          <%= link_to 'Update Decisions', edit_staff_application_path(@application), class: 'btn btn-default', role: 'button' %>
        <% else %>
          <p class="text-darkish small">You cannot make decisions on this application as it is marked as '<span class="text-lowercase"><%= @application.status.humanize %></span>'.</p>
        <% end %>
      </div>
    </div>

    <h3>View Application</h3>

    <%= render 'shared/application_show', application: @application %>
  </div> <!-- col -->
</div> <!-- row -->
