<% breadcrumb :staff_remove_course, @course %>
<% @title = 'Remove Course' %>

<div class="row">
  <div class="col-sm-3">
    <%= render 'staff/shared/courses_sidenav', page: :index %>
  </div>
  <div class="col-sm-9">
    <div class="alert-warning alert">
      <%= icon 'exclamation-circle' %>
      Warning: This action cannot be undone.
    </div>

    <p>Are you sure you want to delete the following course?</p>
    <p><strong><%= @course.title %></strong></p>
    <p>For security purposes you must type the full name of the course exactly as it appears in order for it to be deleted.</p>

    <%= form_for @course, url: staff_course_path(@course), method: :delete do |f| %>
        <%= hidden_field_tag :_method, 'delete' %>

        <%= form_errors @course %>

        <div class="form-group">
          <%= text_field_tag :course_title, nil, class: 'form-control', autocomplete: :off %>
        </div>

        <div class="text-right">
          <%= button_tag(:class => "btn btn-danger") do |s| %>
              <%= icon('trash') %>
              Delete Course
          <% end %>
        </div>
    <% end %>
  </div>
</div>
