<% breadcrumb :staff_show_course, @course %>
<% @title = 'Show Course' %>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <%= link_to edit_staff_course_path(@course), class: 'btn btn-primary btn-block', role: 'button' do %>
      <%= icon('edit') %>
      Edit Course Details
    <% end %>

    <%= link_to staff_course_remove_path(@course), class: 'btn btn-primary btn-block', role: 'button' do %>
      <%= icon('trash') %>
      Delete Course
    <% end %>
  </div>

  <div class="col-md-9 col-sm-12">
    <h3 class="no-top-margin"><%= @course.title %></h3>

    <div class="well small">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-3">
              Spaces:
            </div>
            <div class="col-xs-9">
              <%= @course.spaces %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              Applicants:
            </div>
            <div class="col-xs-9">
              <%= @course.current_selections_count %> (<%= @course.confirmed_count %> confirmed)
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              Status:
            </div>
            <div class="col-xs-9">
              <%= @course.status.humanize %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              Level:
            </div>
            <div class="col-xs-9">
              <%= @course.level %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              Category:
            </div>
            <div class="col-xs-9">
              <%= @course.category.name %>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-3">
              College:
            </div>
            <div class="col-xs-9">
              <%= @course.college.name %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              Start Date:
            </div>
            <div class="col-xs-9">
              <%= format_date @course.start_date %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              End Date:
            </div>
            <div class="col-xs-9">
              <%= format_date @course.end_date %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              Created:
            </div>
            <div class="col-xs-9">
              <%= format_datetime @course.created_at %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-3">
              Updated:
            </div>
            <div class="col-xs-9">
              <%= format_datetime @course.updated_at %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>Description</h4>

    <%= image_tag @course.image, class: 'img-responsive img-thumbnail pull-right', style: 'margin-left: 8px;' %>

    <%= render 'shared/course_info', course: @course %>

  </div>
</div>