<%= form_for(college, url: path) do |f| %>
  <p class="text-darkish">Enter college details and then click save. You can use <%= link_to 'markdown', 'https://daringfireball.net/projects/markdown/basics' %> in the description field.</p>


  <%= form_errors college %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= markdown_support_text %>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: '6' %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :website %>
        <%= f.text_field :website, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :telephone %>
        <%= f.text_field :telephone, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :image %>
        <div class="row">
          <div class="col-xs-7">
            <%= f.file_field :image, class: 'form-control' %>
            <%= f.hidden_field :image_cache, value: college.image_cache %>
          </div>
          <% unless college.image.file.nil? %>
              <div class="col-xs-5">
                <%= link_to college.image.url, title: 'Preview Image' do %>
                    <%= image_tag college.image.url(:thumb), class: 'img-responsive img-thumbnail image-border' %>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_area :address, class: 'form-control', rows: '4' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :postcode %>
        <%= f.text_field :postcode, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="actions text-right">
    <p class="text-darkish small">Save changes when completed.</p>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
