<% breadcrumb :staff_college_clearance, @college %>
<% @title = 'Clearance' %>

<div class="row">
  <div class="col-xs-12">
    <h3 class="no-top-margin">Enable College Clearance</h3>

    <p>Here you can manage clearance for <strong><%= @college.name %></strong>. Clearance allows you to match students
    who have rejected applications with courses that have spaces left to fill. Emails will be sent to students notifying
    them of any clearance matches they have. They can then apply for courses in the normal manner.</p>

    <hr>

    <h4>Clearance Matches</h4>

    <% if @applications.any? %>
      <p>These students will be emailed in regards to clearance courses.</p>

      <ul>
        <% @applications.each do |application| %>
          <li><%= link_to application.student.full_name, staff_application_path(application) %></li>
        <% end %>
      </ul>
    <% else %>
      <p><em>There are no clearance matches for this college.</em></p>
    <% end %>

    <hr>

    <%= form_for @college, url: staff_college_clearance_update_path(@college), method: :post do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :clearance, value: !@college.clearance? %>
      <%= f.button class: 'btn btn-primary' do %>
        <%= icon('refresh') %>
        <%= @college.clearance? ? 'Disable Clearance' : 'Enable Clearance' %>
      <% end %>
    <% end %>

  </div>
</div>