<% breadcrumb :staff_show_college, @college %>
<% @title = 'View College' %>

<div class="row">
  <div class="col-sm-3">
    <div class="well">
      <h4 class="no-top-margin"><strong>College Info</strong></h4>

      <div class="row">
        <div class="col-xs-8">Total Courses:</div>
        <div class="col-xs-4"><%= @college.courses.count %></div>
      </div>
      <div class="row">
        <div class="col-xs-8">Total Staff:</div>
        <div class="col-xs-4"><%= @college.staff.count %></div>
      </div>
      <div class="row">
        <div class="col-xs-8">Students Applied:</div>
        <div class="col-xs-4"><%= @college.count_applicants %></div>
      </div>
      <div class="row">
        <div class="col-xs-8">Course Applications:</div>
        <div class="col-xs-4"><%= @college.count_course_selections%></div>
      </div>
    </div>

    <%= link_to 'Edit College Details', edit_staff_college_path(@college), class: 'btn btn-default btn-block' %>

    <br>
  </div>

  <div class="col-sm-9">
    <%= render 'shared/college_info', college: @college %>
  </div>
</div>