<% breadcrumb :profile %>
<% @title = 'Profile' %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <p>Keep your login details up to date. Make sure you don't lose them!</p>

      <div class="panel panel-default panel-bg">
        <div class="panel-body no-bottom-padding">
          <h3 class="no-top-margin">Personal Information</h3>

          <table class="table">
            <tr>
              <td>Username:</td>
              <td><strong><%= current_student.username %></strong></td>
            </tr>
            <tr>
              <td>Scottish Candidate Number:</td>
              <td><strong><%= current_student.scottish_candidate_number %></strong></td>
            </tr>
            <tr>
              <td>National Insurance Number:</td>
              <td><strong><%= current_student.national_insurance_number %></strong></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, class: 'text-capitalize' %><br>
        <%= f.email_field :email, class: 'form-control'  %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, class: 'text-capitalize' %> <i>(leave blank if you don't want to change it)</i><br>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: 'text-capitalize' %><br>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :current_password, class: 'text-capitalize' %> <i>(we need your current password to confirm your changes)</i><br>
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-md btn-block btn-primary' %>
      </div>
    <% end %>
    <!--<hr>-->

    <!--<h2>Cancel my account</h2>-->

    <!--<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure? You cannot undo this." }, method: :delete %></p>-->

  </div>
</div>
