<% breadcrumb :register, resource %>
<% @title = 'Register' %>

<div class="row">
  <div class="col-sm-7 col-sm-offset-1">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <p>We need a little personal info from you in order to setup your account. Once your account is activated you will
        be able to create your application.</p>

      <div class="form-group">
        <%= f.label :email, class: 'text-capitalize' %><br>
        <%= f.email_field :email, autofocus: false, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :first_name, class: 'text-capitalize'  %><br>
        <%= f.text_field :first_name, autofocus: false, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :family_name, class: 'text-capitalize'  %><br>
        <%= f.text_field :family_name, autofocus: false, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :scottish_candidate_number, class: 'text-capitalize'  %><br>
        <%= f.text_field :scottish_candidate_number, autofocus: false, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :national_insurance_number, class: 'text-capitalize'  %><br>
        <%= f.text_field :national_insurance_number, autofocus: false, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'text-capitalize' %>
        <% if @minimum_password_length  %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: 'text-capitalize'  %><br>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
      </div>

      <p>Prove you are not a robot.</p>
      <%= recaptcha_tags %>
      <br>

      <div class="form-group">
        <%= f.submit 'Sign up', class: 'btn btn-primary', style: 'padding-left: 50px; padding-right: 50px;' %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-3">
    <div class="well">
      <p class="text-darkish small">...or register using another provider.</p>
      <%= link_to student_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary btn-block', role: 'button', style: 'background-color: #db4a39; border: 0;' do %>
        <%= icon('google') %>
          &nbsp;
          Register with Google
      <% end %>

      <%= link_to student_facebook_omniauth_authorize_path , class: 'btn btn-primary btn-block', role: 'button', style: 'background-color: #3b5998; border: 0;' do %>
          <%= icon('facebook') %>
          &nbsp;
          Register with Facebook
      <% end %>

      <%= link_to student_twitter_omniauth_authorize_path, class: 'btn btn-primary btn-block', role: 'button', style: 'background-color: #0084b4; border: 0;' do %>
          <%= icon('twitter') %>
          &nbsp;
          Register with Twitter
      <% end %>
    </div>

    <div class="small">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
