<%
  breadcrumb :decisions_change
  @title = 'Change Course Selection'
%>

<script>
  $(function () {
    <% @course_selections.each do |selection| %>
      <% id = selection.id %>
      registerAutocomplete('#course_title_<%= id %>', '#course_id_' + <%= id %>, '<%= url_for courses_search_path(:json) %>');
    <% end %>
  })
</script>

<p>In order to change your course selection we will require another payment for the following fee: </p>

<p><strong>Amount: £10</strong></p>

<hr>

<p>You can change the selected course using the form below.</p>

<div class="list-group">
  <%= form_tag decisions_change_path, method: :post do %>
    <% @course_selections.each do |selection| %>
      <div class="list-group-item list-group-item-heading">
        <h4 style="margin-top: 4px;">
          <strong><%= selection.course.title %></strong>
          <small><%= selection.course.college.name %></small>
        </h4>

        <%= hidden_field_tag 'course_selection[][id]', selection.id %>
        <%= hidden_field_tag 'course_selection[][course_id]', nil, id: "course_id_#{selection.id}"%>
        <input type="text" name="course_selection[][title]" id="course_title_<%= selection.id %>" class="form-control"
               placeholder="Enter new course title" data-id="<%= selection.id %>">
      </div>
    <% end %>

    <br><br>

    <div class="text-right">
      <p class="text-darkish small">Proceed to make course change fee payment.</p>
      <%= submit_tag 'Change Course(s)', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>


