<%
  breadcrumb :decisions_completed
  @title = 'Application Completed!'
%>

<div class="row">
  <div class="col-sm-5">
    <h3>What Next?</h3>
    <p>You will be contacted by your chosen colleges before the course start date. If you received a conditional offer then
    you will need to meet the conditions laid out, which may mean getting a particular exam grade, or some other
    achievement. Keep working hard!</p>
    <p>For reference you can view your completed application <%= link_to 'here', application_path(@application) %>.</p>
  </div>
  <div class="col-sm-7">
    <h3>Colleges</h3>
    <p>If you need to contact your chosen colleges for any reason, please find their contact details below.</p>
    <div class="row">
      <% CourseSelection.selected_colleges(@application).each do |college| %>
          <div class="col-sm-6">
            <h4><%= college.name %></h4>
            <%= simple_format(college.address, {}, wrapper_tag: 'span') %><br>
            <%= college.postcode %><br>
            Web: <%= link_to clean_url(college.website), college.website %><br>
            Telephone: <%= college.telephone %><br>
            Email: <%= mail_to college.email %>
          </div>
      <% end %>
    </div>
  </div>
</div>
<hr>
<h3>Courses</h3>
<p>Here is a list of your selected courses, their offers, and your choices.</p>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Course</th>
      <th>Offer</th>
      <th>Choice</th>
      <th>College</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <% @application.final_course_selections.each do |selection| %>
      <tr>
        <td title="<%= selection.course.title %>"><%= truncate selection.course.title, length: 50 %></td>
        <td><%= selection.college_offer.humanize %></td>
        <td><%= selection.student_choice.humanize %></td>
        <td><%= selection.course.college.name %></td>
        <td><%= selection.note %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

