<%
  breadcrumb :decisions_firm, @application
  @title = 'Make Firm Choice'
%>

<div class="row">
  <div class="col-md-3">
    <%= render 'sidebar', stage: :firm %>
  </div>

  <div class="col-md-9">
    <h3 class="no-top-margin">Make Your Firm Choice.</h3>

    <p>This is your preferred choice, the course you would most like to study and the college you would most like to
      attend. Alternatively, you can turn down all offers. You are given a chance to review your choices before commiting to them.</p>

    <div class="list-group">
      <% @application.final_course_selections.each do |selection| %>
        <div class="list-group-item list-group-item-heading">
          <div class="row">
            <div class="col-sm-9">
              <h4 style="margin-bottom: 4px;">
                <%= truncate selection.course.title, length: 80 %>
                <small><%= truncate selection.course.college.name %></small>
              </h4>
              <p class="small"><%= selection.college_offer.humanize %></p>
            </div>
            <div class="col-sm-3 text-right">
              <%= form_tag decisions_firm_path, method: :post do %>
                <%= hidden_field_tag :course_selection_id, selection.id %>
                <%= submit_tag 'Firm Choice', class: 'btn btn-info', title: "Make '#{selection.course.title}' your firm choice" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <br>

    <div class="text-right">
      <p class="text-darkish small">You will have a chance to review your choices.</p>
      <%= form_tag decisions_decline_path(@application), method: :post do %>
        <%= hidden_field_tag :which_to_decline, :all %>
        <%= submit_tag 'Decline All Choices', class: 'btn btn-danger', style: 'width: 25%;' %>
      <% end %>
    </div>
  </div>
</div>
