<%
  breadcrumb :decisions_firm, @application
  @title = 'Make Firm Choice'
%>

<div class="row">
  <div class="col-md-3">
    <%= render 'sidebar', stage: :firm %>
  </div>

  <div class="col-md-9">
    <h3 class="no-top-margin">Make Your Firm Choice.</h3>

    <p>This is your preferred choice, the course you would most like to study and the college you would most like to
      attend. Alternatively, you can turn down all offers if you do not intend to accept any of them. You are given a
      chance to review your choices at the end.</p>

    <div class="list-group">
      <% @application.final_course_selections.each do |selection| %>
        <div class="list-group-item list-group-item-heading">
          <div class="row">
            <div class="col-sm-9">
              <h4 style="margin-bottom: 4px;" title="<%= selection.course.title %>">
                <%= truncate selection.course.title, length: 50 %>
                <small><%= truncate selection.course.college.name %></small>
              </h4>
              <p class="small"><%= selection.college_offer.humanize %></p>
            </div>
            <div class="col-sm-3 text-right">
              <%= form_tag decisions_firm_path, method: :post do %>
                <%= hidden_field_tag :course_selection_id, selection.id %>
                <%= button_tag class: 'btn btn-primary', title: "Make '#{selection.course.title}' your firm choice", style: 'margin-top: 10px;' do %>
                  <%= icon('check-square-o') %>
                  Firm Choice
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <br>

    <div class="text-right">
      <p class="text-darkish small">You will have a chance to review your choices.</p>
      <%= form_tag decisions_decline_path(@application), method: :post do %>
        <%= hidden_field_tag :which_to_decline, :all %>
        <%= button_tag class: 'btn btn-danger' do %>
          <%= icon('ban') %>
          Decline All Choices
        <% end %>
      <% end %>
    </div>
  </div>
</div>
