<%
  breadcrumb :decisions
  @title = 'Track Application'
%>

<div class="row">
  <div class="col-md-3">
    <%= render 'sidebar', stage: @application.awaiting_replies? ? :view : :index %>
  </div>

  <div class="col-md-9">
    <% if @application.awaiting_replies? %>
      <h2 class="no-top-margin">All Decisions Made</h2>
      <p>This page lets you keep track of your courses and what decisions have been made on them. All of your selected
      colleges have made their decisions and you can view them below. A decision may be accompanied by a note, either
      explaining why a decision was taken, or what your next steps should be. Once ready, select the option to begin
        making your choices.</p>
    <% else %>
      <h2 class="no-top-margin">College Decisions</h2>
      <p>This page lets you keep track of your courses and what decisions have been made. Each course will be
      considered by its college and they will decide whether to make you an offer. Once all decisions
      have been received you can then proceed to prioritise your offers so you can pick the course or college that's
      right for you.</p>
    <% end %>
    <hr>

    <div class="list-group">
      <% @application.course_selections_without_choices.order(:college_offer).each do |selection| %>
        <%= decision_list_item selection do %>
          <% if selection.college_offer.nil? %>
            <%= icon('question-circle', class: 'pull-right', style: 'font-size: 6.6em; color: grey;') %>
          <% elsif selection.rejected? %>
            <%= icon('ban', class: 'pull-right', style: 'font-size: 6.6em; color: #E62020;') %>
          <% else %>
            <%= icon('check-circle', class: 'pull-right', style: 'font-size: 6.6em; color: #4CBB17;') %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if @application.awaiting_replies? %>
      <div class="text-right">
        <p class="small text-darkish">Proceed to select your first choice of study.</p>
        <%= link_to decisions_firm_path, class: 'btn btn-primary' do %>
          <%= icon('graduation-cap') %>
          &nbsp;
          Make Your Choices
        <% end %>
      </div>
    <% elsif @application.all_rejected? %>
      <hr>
      <h4>All Refused</h4>
      <p>Sadly, all of your applications have been refused. You cannot accept any offers at this time. However, you may
        qualify for clearance courses in the future. You may be contacted again once clearance starts.</p>
    <% else %>
      <hr>
      <h4>Still Waiting</h4>
      <p>You are still awaiting for all of your decisions. Once they have all been received you will be able to reply with your choices.</p>
    <% end %>
  </div>
</div>
