<%
  breadcrumb :decisions
  @title = 'Track Application'
%>

<div class="row">
  <div class="col-md-3">
    <%= render 'sidebar', stage: :index %>
  </div>

  <div class="col-md-9">
    <h2 class="no-top-margin">College Decisions</h2>
    <p>This page lets you keep track of your courses and what decisions have been made on them. Each course will be
    considered by the respective college and once a decision has been made you will be notified. Once all decisions
    have been received you can then proceed to prioritise your offers, so you can pick the course or college that's
    right for you.</p>

    <hr>

    <div class="list-group">
      <% @application.course_selections.order(college_offer: :desc).each do |selection| %>
        <%= decision_list_item selection do %>
          <% if selection.college_offer.nil? %>
            <%= icon('question-circle', class: 'pull-right', style: 'font-size: 6.6em; color: grey;') %>
          <% elsif selection.rejected? %>
            <%= icon('ban', class: 'pull-right', style: 'font-size: 6.6em; color: #E62020;') %>
          <% else %>
            <%= icon('check-circle', class: 'pull-right', style: 'font-size: 6.6em; color: #4CBB17;') %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if @application.all_decisions_made? %>
      <div class="text-right">
        <p class="small text-darkish">Proceed to select your first choice of study.</p>
        <%= link_to decisions_firm_path, class: 'btn btn-primary' do %>
          <%= icon('graduation-cap') %>
          &nbsp;
          Make Your Choices
        <% end %>
      </div>
    <% elsif @application.all_rejected? %>
      <hr>
      <h4>All Refused</h4>
      <p>Sadly, all of your applications have been refused. You cannot accept any offers at this time. However, you may
        qualify for clearance courses in the future. You may be contacted again once clearance starts.</p>
    <% else %>
      <hr>
      <h4>Still Waiting</h4>
      <p>Once you have received all your decisions, you will be able to make your choices.</p>
      <hr>
      <h4>Change Courses</h4>
      <p>You can change a selected course for a small fee, so long as a decision has not been made on it yet.</p>
      <%= link_to 'Change Course', decisions_change_path, class: 'btn btn-default', role: 'button' %>
    <% end %>
  </div>
</div>
