<%
  breadcrumb :decisions_insurance, @application
  @title = 'Make Form Choice'
%>

<div class="row">
  <div class="col-md-3">
    <p><em>This section will guide you through the decisions needed for your college application.</em></p>
    <h3>Application Stages</h3>
    <div class="list-group">
      <div class="list-group-item">
        <div class="row">
          <div class="col-xs-10">
            Await Decisions
          </div>
          <div class="col-xs-2">
            <%= icon('check', class: 'app-tick') %>
          </div>
        </div>
      </div>
      <div class="list-group-item">
        <div class="row">
          <div class="col-xs-10">
            Firm Choice
          </div>
          <div class="col-xs-2">
            <%= icon('check', class: 'app-tick') %>
          </div>
        </div>
      </div>
      <div class="list-group-item active">
        Insurance Choice
      </div>
      <div class="list-group-item">
        Review Choices
      </div>
      <div class="list-group-item">
        Completed
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h3 class="no-top-margin">Make Your Insurance Choice.</h3>

    <div class="list-group">
      <% @application.course_selections.order(:student_choice).each do |selection| %>
          <div class="list-group-item list-group-item-heading">
            <div class="row">
              <div class="col-sm-9">
                <h4><%= truncate selection.course.title, length: 70 %></h4>
              </div>
              <div class="col-sm-3 text-right">
                <% if selection.firm_choice? %>
                  Firm Choice
                  <%= icon('check-circle', style: 'color: green; font-size: 22pt;') %>
                <% else %>
                  <%= form_tag decisions_insurance_path(@application), method: :post do %>
                    <%= hidden_field_tag :course_selection_id, selection.id %>
                    <%= submit_tag 'Make Insurance Choice', class: 'btn btn-default' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>

    <br>

    <div class="text-right">
      <p class="text-darkish small">You can choose not to make an insurance choice.</p>
      <%= form_tag decisions_decline_path(@application), method: :post do %>
        <%= hidden_field_tag :which_to_decline, :insurance %>
        <%= submit_tag 'Decline Insurance Choice', class: 'btn btn-danger', style: 'width: 25%;' %>
      <% end %>
    </div>
  </div>
</div>
