<%
  breadcrumb :decisions_insurance, @application
  @title = 'Make Insurance Choice'
%>

<div class="row">
  <div class="col-md-3">
    <%= render 'sidebar', stage: :insurance %>
  </div>
  <div class="col-md-9">
    <h3 class="no-top-margin">Make Your Insurance Choice.</h3>
    <p>This is your insurance choice, your next favourite choice of course. It's a good idea to pick an insurance, incase
    you aren't able to get into your first choice of college.</p>
    <div class="list-group">
      <% @application.final_course_selections.each do |selection| %>
        <div class="list-group-item list-group-item-heading">
          <div class="row">
            <div class="col-sm-9">
              <h4 style="margin-bottom: 4px;" title="<%= selection.course.title %>">
                <%= truncate selection.course.title, length: 50 %>
                <small><%= truncate selection.course.college.name %></small>
              </h4>
              <p class="small"><%= selection.college_offer.humanize %></p>
            </div>
            <div class="col-sm-3 text-right">
              <% if selection.student_choice.nil? %>
                <%= form_tag decisions_insurance_path, method: :post do %>
                  <%= hidden_field_tag :course_selection_id, selection.id %>
                  <%= button_tag class: 'btn btn-primary', title: "Make '#{selection.course.title}' your insurance choice", style: 'margin-top: 10px;' do %>
                    <%= icon('check-square-o') %>
                    Insurance Choice
                  <% end %>
                <% end %>
              <% else %>
                <%= icon('check-circle', style: 'color: green; font-size: 2.8em; margin-top: 0px;') %>
                <br>
                <strong><%= selection.student_choice.humanize %></strong>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <br>

    <div class="text-right">
      <p class="text-darkish small">You can choose not to make an insurance choice.</p>
      <%= form_tag decisions_decline_path(@application), method: :post do %>
        <%= hidden_field_tag :which_to_decline, :insurance %>
        <%= button_tag class: 'btn btn-danger' do %>
          <%= icon('ban') %>
          Decline Insurance Choice
        <% end %>
      <% end %>
    </div>
  </div>
</div>
