<%
  breadcrumb :decisions_review
  @title = 'Review Choices'
%>

<div class="row">
  <div class="col-md-3">
    <%= render 'sidebar', stage: :review %>
  </div>
  <div class="col-md-9">
    <h3 class="no-top-margin">Review Your Choices.</h3>
    <p>Review your choices and make sure they are correct. Once you finalise them you won't be able to change them. If
    you spot an error or change your mind, select 'make changes' to go back to the start.</p>
    <div class="list-group">
      <% @application.final_course_selections.each do |selection| %>
        <div class="list-group-item list-group-item-heading" style="background-color: #F5F5F5;">
          <% if selection.firm_choice? %>
            <%= icon('check-circle', class: 'pull-right', style: 'font-size: 6.8em; color: #4CBB17;') %>
          <% elsif selection.insurance_choice? %>
            <%= icon('check-circle', class: 'pull-right', style: 'font-size: 6.8em; color: #FDEE00') %>
          <% else %>
            <%= icon('ban', class: 'pull-right', style: 'font-size: 6.8em; color: #E62020') %>
          <% end %>

          <h3 style="margin-top: 6px;">
            <strong><%= selection.course.title %></strong>
            <small style="color: #787878;"><%= selection.course.college.name %></small>
          </h3>
          <p><%= selection.rejected? ? selection.college_offer.humanize : selection.student_choice.humanize %></p>
          <p><%= selection.note %></p>
        </div>
      <% end %>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-6">
        <p class="text-darkish small">Go back and make different choices.</p>
        <%= link_to decisions_path, class: 'btn btn-default', role: 'button' do %>
          <%= icon('eraser') %>
          Make Changes
        <% end %>
      </div>
      <div class="col-sm-6 text-right">
        <p class="text-darkish small">Continue and finalise your choices.</p>
        <%= form_tag decisions_review_post_path, method: :post do %>
          <%= button_tag class: 'btn btn-primary' do %>
            <%= icon('check') %>
            Accept Choices
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

