<% if path == request.path %>
  <a href="<%= url_for path %>" class="list-group-item active">
    <div class="row">
      <div class="col-xs-10">
        <%= name %>
      </div>
      <div class="col-xs-1">
        <%= icon('arrow-circle-right', class: 'app-arrow') %>
      </div>
    </div>
  </a>
<% else %>
  <a href="<%= url_for path %>" class="list-group-item">
    <div class="row ">
      <div class="col-xs-10">
        <%= name %>
      </div>
      <% if completed %>
        <div class="col-xs-1" title="Completed">
          <!--<i class="fa fa-check-circle app-tick" aria-hidden="true" style="color: limegreen; font-size: 15pt;"></i>-->
          <%= icon('check-circle', class: 'app-tick') %>
        </div>
      <% end %>
    </div>
  </a>
<% end %>