<div class="panel panel-default">
  <div class="panel-body">
    <p><em>This section will guide you through the process of creating your college application.</em></p>

    <h3>Application Stages</h3>

    <div class="list-group">
      <%= render partial: 'stage_item', locals: {name: 'Introduction', path: applications_index_path, completed: application.completed_intro} %>
      <%= render partial: 'stage_item', locals: {name: 'Profile', path: applications_profile_path, completed: application.completed_profile} %>
      <%= render partial: 'stage_item', locals: {name: 'Education', path: applications_education_path, completed: application.completed_education} %>
      <%= render partial: 'stage_item', locals: {name: 'Employment', path: applications_employment_path, completed: application.completed_employment} %>
      <%= render partial: 'stage_item', locals: {name: 'References', path: applications_references_path, completed: application.completed_references} %>
      <%= render partial: 'stage_item', locals: {name: 'Personal Statement', path: applications_statement_path, completed: application.completed_statement} %>
      <%= render partial: 'stage_item', locals: {name: 'Add Courses', path: applications_courses_path, completed: application.completed_courses} %>
      <%= render partial: 'stage_item', locals: {name: 'Submit', path: applications_submit_path, completed: false} %>
    </div>
  </div>
</div>