<% breadcrumb :application_education, @application %>
<% @title = 'Education' %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application, stage: :education} %>
  </div>

  <div class="col-sm-9">
    <div class="row">
      <div class="col-xs-12">

        <!-- Add school form -->
        <%= form_for @institution, url: applications_education_add_path(@application), method: :post do |f|%>
          <h3 class="no-top-margin">Add Institution</h3>
          <p class="text-darkish small">Add any school, college, university, or other institution where you have gained an educational qualification.</p>
          <%= form_errors @institution %>
          <div class="row">
            <div class="col-sm-6">
              <table class="table">
                <tr>
                  <td><%= f.label 'Institution Name' %></td>
                  <td><%= f.text_field :name, class: 'full-width' %></td>
                </tr>
                <tr>
                  <td><%= f.label :address_1 %></td>
                  <td><%= f.text_field :address_1, class: 'full-width' %></td>
                </tr>
                <tr>
                  <td><%= f.label :address_2 %> *</td>
                  <td><%= f.text_field :address_2, class: 'full-width' %></td>
                </tr>
              </table>
            </div> <!-- End col -->
            <div class="col-sm-6">
              <table class="table">
                <tr>
                  <td><%= f.label 'Post Code', class: 'text-capitalize' %></td>
                  <td><%= f.text_field :postcode, class: 'full-width' %></td>
                </tr>
                <tr>
                  <td><%= f.label :country %></td>
                  <td><%= f.text_field :country, class: 'full-width' %></td>
                </tr>
                <tr>
                  <td class="text-darkish small">
                      <em>* Optional</em>
                  </td>
                  <td class="text-right">
                    <%= f.submit 'Add Institution', class: 'add-button' %>
                  </td>
                </tr>
              </table>
            </div> <!-- End col -->
          </div> <!-- End row -->
        <% end %>

        <!-- Form used to validate that schools/courses have been added -->
        <%= form_for @application, url: applications_education_next_path(@application), method: :post do |f| %>
          <!-- Display schools list -->
          <h3 class="no-top-margin">Education History</h3>
          <%= form_errors @application %>
          <% if @application.institutions.empty? %>
            <br>
            <p class="text-darkish text-center small"><em>Any educational institution you add will appear here.</em></p>
            <br>
          <% else %>
                <p class="text-darkish small">You can add the qualifications gain at each institution by selecting the add qualifications option.</p>
            <div class="list-group">
              <% @application.institutions.each do |institution| %>
                <div class="education-item list-group-item-heading">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4 class="no-top-margin no-bottom-padding"><%= institution.name %></h4>
                      <address class="small">
                        <%= institution.address_1 %><br>
                        <%= institution.address_2 %> <%= '<br>'.html_safe unless institution.address_2.empty? %>
                        <%= institution.postcode %><br>
                        <%= institution.country %>
                      </address>
                    </div> <!-- End col -->
                    <div class="col-sm-6 text-right">
                      <div>
                      <a href="<%= url_for applications_qualifications_path(institution) %>" class="add-button" role="button" >
                        <%= icon 'plus-circle', style: 'font-size: 13pt;' %>
                        &nbsp;
                        Add Qualifications
                        <% count = institution.qualifications.count %>
                        <% if count > 0 %>
                            (<%= count %>)
                        <% end %>
                      </a>
                      &nbsp;
                      <a href="<%= url_for applications_education_remove_path(institution) %>"
                         class="add-button"
                         role="button"
                         data-method="delete"
                         data-confirm="Remove this Institution?"
                         title="Remove">
                        <%= icon 'trash', style: 'font-size: 13pt;' %>
                        &nbsp;
                        Remove
                      </a>
                      </div>
                    </div> <!-- End col -->
                  </div> <!-- End row -->
                </div> <!-- End list item -->
              <% end %>
            </div> <!-- End group -->
          <% end %>

          <div class="row">
            <div class="col-sm-12 text-right">
              <br>
              <p class="text-darkish small">When ready continue to the next section.</p>
                <%= f.submit 'Next', class: 'next-button' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>