<% breadcrumb :application_profile, @application %>
<% @title = 'Profile' %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application, stage: :profile} %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Personal Profile</h3>

    <p class="text-darkish small">Enter your personal information, so you can tell the college about you.</p>

    <%= form_for @application, url: applications_profile_next_path, method: :post do |f| %>
        <%= form_errors @application %>

        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :title %></div>
              <div class="col-xs-8"><%= f.text_field :title, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4 text-capitalize"><%= f.label :first_name %></div>
              <div class="col-xs-8"><%= f.text_field :first_name, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4 text-capitalize"><%= f.label :middle_name %> *</div>
              <div class="col-xs-8"><%= f.text_field :middle_name, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4 text-capitalize"><%= f.label :family_name %></div>
              <div class="col-xs-8"><%= f.text_field :family_name, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4 text-capitalize"><%= f.label :previous_name %> *</div>
              <div class="col-xs-8"><%= f.text_field :previous_name, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :gender %></div>
              <div class="col-xs-8"><%= f.select :gender, options_for_select(Application.genders.keys.map { |w| [w.humanize, w] }), {}, {:class => 'full-width'} %></div>
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :email %></div>
              <div class="col-xs-8"><%= f.text_field :email, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :telephone %></div>
              <div class="col-xs-8"><%= f.text_field :telephone, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :mobile %> *</div>
              <div class="col-xs-8"><%= f.text_field :mobile, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :disability %> *</div>
              <div class="col-xs-8"><%= f.text_field :disability, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4 text-capitalize"><%= f.label :scottish_candidate_number, 'SC Number' %> <a class="help-cursor" title="Scottish Candidate Number">(?)</a></div>
              <div class="col-xs-8"><%= f.text_field :scottish_candidate_number, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4 text-capitalize"><%= f.label :national_insurance_number, 'NI Number' %> <a class="help-cursor" title="National Insurance Number">(?)</a></div>
              <div class="col-xs-8"><%= f.text_field :national_insurance_number, class: 'full-width' %></div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <h4>Permanent Address</h4>
            <p class="text-darkish small">This is the address that you live at.</p>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :permanent_house_number, 'House Number' %></div>
              <div class="col-xs-8"><%= f.text_field :permanent_house_number, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :permanent_address_1, 'Address 1' %></div>
              <div class="col-xs-8"><%= f.text_field :permanent_address_1, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :permanent_address_2, 'Address 2' %> *</div>
              <div class="col-xs-8"><%= f.text_field :permanent_address_2, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :permanent_postcode, 'Post Code' %></div>
              <div class="col-xs-8"><%= f.text_field :permanent_postcode, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :permanent_countr, 'Country' %></div>
              <div class="col-xs-8"><%= f.text_field :permanent_country, class: 'full-width' %></div>
            </div>
          </div>

          <div class="col-sm-6">
            <h4>Correspondence Address</h4>
            <p class="text-darkish small">This is the address where you want your letters sent (optional).</p>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :correspondence_house_number, 'House Number' %> *</div>
              <div class="col-xs-8"><%= f.text_field :correspondence_house_number, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :correspondence_address_1, 'Address 1' %> *</div>
              <div class="col-xs-8"><%= f.text_field :correspondence_address_1, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :correspondence_address_2, 'Address 2' %> *</div>
              <div class="col-xs-8"><%= f.text_field :correspondence_address_2, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :correspondence_postcode, 'Post Code' %> *</div>
              <div class="col-xs-8"><%= f.text_field :correspondence_postcode, class: 'full-width' %></div>
            </div>
            <div class="row slight-margin-bottom">
              <div class="col-xs-4"><%= f.label :correspondence_country, 'Country' %> *</div>
              <div class="col-xs-8"><%= f.text_field :correspondence_country, class: 'full-width' %></div>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-sm-6 small text-darkish">
            <p><em>* Optional</em></p>
          </div>
          <div class="col-sm-6 text-right">
            <p class="text-darkish small">Continue to the next section when ready.</p>
            <%= f.submit 'Save and continue...', class: 'next-button' %>
        </div>
        </div>
    <% end %>
  </div>
</div>
