<% breadcrumb :application_profile %>
<% @title = 'Profile' %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages', locals: {stage: :profile} %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Personal Profile</h3>

    <p class="text-darkish small">Enter your personal information, so you can tell the college about you.</p>

    <%= form_for @application, url: applications_profile_next_path, method: :post do |f| %>
        <%= form_errors @application %>

        <%= f.hidden_field :id %>

        <div class="row text-capitalize">
          <div class="col-sm-6">
            <table class="table">
              <tr>
                <td class="full-width"><%= f.label :title %></td>
                <td><%= f.text_field :title %></td>
              </tr>
              <tr>
                <td><%= f.label :first_name %></td>
                <td><%= f.text_field :first_name %></td>
              </tr>
              <tr>
                <td><%= f.label :middle_name %> *</td>
                <td><%= f.text_field :middle_name %></td>
              </tr>
              <tr>
                <td><%= f.label :family_name %></td>
                <td><%= f.text_field :family_name %></td>
              </tr>
              <tr>
                <td><%= f.label :previous_name %> *</td>
                <td><%= f.text_field :previous_name %></td>
              </tr>
              <tr>
                <td><%= f.label :gender %></td>
                <td><%= f.select :gender, options_for_select(Application.genders.keys.map { |w| [w.humanize, w] }), {}, {:class => 'full-width'} %></td>
              </tr>
            </table>
          </div>

          <div class="col-sm-6">
            <table class="table">
              <tr>
                <td class="full-width"><%= f.label :email %></td>
                <td><%= f.email_field :email %></td>
              </tr>
              <tr>
                <td><%= f.label :telephone %></td>
                <td><%= f.text_field :telephone %></td>
              </tr>
              <tr>
                <td><%= f.label :mobile %> *</td>
                <td><%= f.text_field :mobile %></td>
              </tr>
              <tr>
                <td><%= f.label :disability %> *</td>
                <td><%= f.text_field :disability %></td>
              </tr>
              <tr>
                <td><%= f.label :scottish_candidate_number %></td>
                <td><%= f.text_field :scottish_candidate_number %></td>
              </tr>
              <tr>
                <td><%= f.label :national_insurance_number %></td>
                <td><%= f.text_field :national_insurance_number %></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <h4>Permanent Address</h4>
            <p class="text-darkish small">This is the address that you live at.</p>
            <table class="table">
              <tr>
                <td class="full-width"><%= f.label 'House Number' %></td>
                <td><%= f.text_field :permanent_house_number %></td>
              </tr>
              <tr>
                <td><%= f.label 'Address 1' %></td>
                <td><%= f.text_field :permanent_address_1 %></td>
              </tr>
              <tr>
                <td><%= f.label 'Address 2' %> *</td>
                <td><%= f.text_field :permanent_address_2 %></td>
              </tr>
              <tr>
                <td><%= f.label 'Post Code' %></td>
                <td><%= f.text_field :permanent_postcode %></td>
              </tr>
              <tr>
                <td><%= f.label 'Country' %></td>
                <td><%= f.text_field :permanent_country %></td>
              </tr>
            </table>
          </div>

          <div class="col-sm-6">
            <h4>Correspondence Address</h4>
            <p class="text-darkish small">This is the address where you want your letters sent (if different).</p>
            <table class="table">
              <tr>
                <td class="full-width"><%= f.label 'House Number' %> *</td>
                <td><%= f.text_field :correspondence_house_number %></td>
              </tr>
              <tr>
                <td><%= f.label 'Address 1' %> *</td>
                <td><%= f.text_field :correspondence_address_1 %></td>
              </tr>
              <tr>
                <td><%= f.label 'Address 2' %> *</td>
                <td><%= f.text_field :correspondence_address_2 %></td>
              </tr>
              <tr>
                <td><%= f.label 'Post Code' %> *</td>
                <td><%= f.text_field :correspondence_postcode %></td>
              </tr>
              <tr>
                <td><%= f.label 'Country' %> *</td>
                <td><%= f.text_field :correspondence_country %></td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 small text-darkish">
            <p><em>* Optional</em></p>
          </div>
          <div class="col-sm-6 text-right">
            <p class="text-darkish small">When ready continue to the next section.</p>
            <%= f.submit 'Next', class: 'next-button' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
