<% breadcrumb :application_references, @application %>
<% @title = 'References' %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application, stage: :references} %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Add References</h3>

    <p class="text-darkish small">Enter your two personal references, these can be a teacher, boss, lecturer, doctor, family friend or any other responsible figure.</p>

    <hr>

    <%= form_for @reference, :html => {:class => 'form-horizontal', :role => 'form' }, url: applications_references_next_path, method: :post do |f| %>
      <%= form_errors @reference %>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h4 class="no-top-margin">Reference 1</h4>

          <p class="text-darkish small">Enter details about your first reference.</p>

          <%= form_text_field f, :reference_1_full_name, {label: 'Full name'} %>
          <%= form_text_field f, :reference_1_occupation, {label: 'Occupation'} %>
          <%= form_text_field f, :reference_1_relationship, {label: 'Relationship'} %>
          <%= form_text_field f, :reference_1_address_1, {label: 'Address 1'} %>
          <%= form_text_field f, :reference_1_address_2, {label: '* Address 2'} %>
          <%= form_text_field f, :reference_1_country, {label: 'Country'} %>
          <%= form_text_field f, :reference_1_postcode, {label: 'Post code'} %>
          <%= form_text_field f, :reference_1_telephone, {label: 'Telephone'} %>
          <%= form_email_field f, :reference_1_email, {label: 'Email'} %>
        </div>

        <div class="col-sm-6 col-xs-12">
          <h4 class="no-top-margin">Reference 2</h4>

          <p class="text-darkish small">Enter details about your second reference.</p>

          <%= form_text_field f, :reference_2_full_name, {label: 'Full name'} %>
          <%= form_text_field f, :reference_2_occupation, {label: 'Occupation'} %>
          <%= form_text_field f, :reference_2_relationship, {label: 'Relationship'} %>
          <%= form_text_field f, :reference_2_address_1, {label: 'Address 1'} %>
          <%= form_text_field f, :reference_2_address_2, {label: '* Address 2'} %>
          <%= form_text_field f, :reference_2_country, {label: 'Country'} %>
          <%= form_text_field f, :reference_2_postcode, {label: 'Post code'} %>
          <%= form_text_field f, :reference_2_telephone, {label: 'Telephone'} %>
          <%= form_email_field f, :reference_2_email, {label: 'Email'} %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <p class="text-darkish small"><em>* Optional</em></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-right">
          <br>
          <p class="text-darkish small">Continue to the next section when ready.</p>
          <%= button_to 'Save and continue...', applications_statement_next_path(@application), method: :post, class: 'next-button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
