<% breadcrumb :staff_user_permissions, @user %>
<%@title = 'Permissions' %>

<div class="row">
  <div class="col-sm-12">
    <p class="text-darkish">Update the permissions for the following staff member:</p>

    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-3"><strong>Username:</strong></div>
          <div class="col-xs-9"><%= @user.username %></div>
        </div>

        <div class="row">
          <div class="col-xs-3"><strong>Email Address:</strong></div>
          <div class="col-xs-9"><%= @user.email %></div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-3"><strong>Full Name:</strong></div>
          <div class="col-xs-9"><%= @user.full_name %></div>
        </div>

        <div class="row">
          <div class="col-xs-3"><strong>College Name:</strong></div>
          <div class="col-xs-9"><%= @user.college.name %></div>
        </div>
      </div>
    </div>

    <hr>

    <%= form_tag staff_user_permissions_update_path(@user) do %>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Role</th>
            <th>Permission</th>
          </tr>
        </thead>
        <tbody>

          <% @roles.each do |role| %>
            <tr>
              <td><%= label_tag "permission[#{role.name}]", role.name.humanize %></td>
              <td><%= check_box_tag "permission[#{role.name}]", 'yes', @user.has_role?(role.name) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <div class="text-right">
        <%= submit_tag 'Update Permissions', class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
</div>




