<% breadcrumb :staff_user_permissions, @member %>
<%@title = 'Permissions' %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <p class="text-darkish">Update individual permissions for the staff member: <strong><%= @member.username %></strong></p>

    <br>

    <%= form_tag staff_user_permissions_update_path(@member) do %>
      <table>
        <tbody>
          <tr>
            <td style="margin-right: 10px;"><%= permission_checkbox @member, :can_view_courses, 'Courses View' %></td>
            <td style="margin-right: 10px;"><%= permission_checkbox @member, :can_view_colleges, 'Colleges View' %></td>
            <td style="margin-right: 10px;"><%= permission_checkbox @member, :can_view_staff, 'Staff View' %></td>
          </tr>
          <tr>
            <td><%= permission_checkbox @member, :can_add_courses, 'Courses Add' %></td>
            <td><%= permission_checkbox @member, :can_add_colleges, 'Colleges Add' %></td>
            <td><%= permission_checkbox @member, :can_add_staff, 'Staff Add' %></td>
          </tr>
          <tr>
            <td><%= permission_checkbox @member, :can_edit_courses, 'Courses Edit' %></td>
            <td><%= permission_checkbox @member, :can_edit_colleges, 'Colleges Edit' %></td>
            <td><%= permission_checkbox @member, :can_edit_staff, 'Staff Edit' %></td>
          </tr>
          <tr>
            <td style="padding-right: 40px;"><%= permission_checkbox @member, :can_remove_courses, 'Courses Remove' %></td>
            <td style="padding-right: 40px;"><%= permission_checkbox @member, :can_remove_colleges, 'Colleges Remove' %></td>
            <td><%= permission_checkbox @member, :can_remove_staff, 'Staff Remove' %></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td><%= permission_checkbox @member, :can_promote_staff, 'StaffPromote' %></td>
          </tr>
        <tr>
          <td colspan="3" class="text-right">
            <%= submit_tag 'Update Permissions', class: 'btn btn-default btn-block' %>
          </td>
        </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>




