<% breadcrumb :staff_user_permissions, @member %>
<%@title = 'Permissions' %>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <p class="text-darkish">Update individual permissions for the staff member: <strong><%= @member.username %></strong></p>

    <br>

    <%= form_tag staff_user_permissions_update_path(@member) do %>
      <table class="full-width">
        <tbody>
          <tr>
            <td style="margin-right: 10px;"><%= permission_checkbox @member, :can_view_courses, 'Courses View' %></td>
            <td style="margin-right: 10px;"><%= permission_checkbox @member, :can_view_colleges, 'Colleges View' %></td>
            <td style="margin-right: 10px;"><%= permission_checkbox @member, :can_view_staff, 'Staff View' %></td>
            <td style="margin-right: 10px;"><%= permission_checkbox @member, :can_view_categories, 'Categories View' %></td>
          </tr>
          <tr>
            <td><%= permission_checkbox @member, :can_add_courses, 'Courses Add' %></td>
            <td><%= permission_checkbox @member, :can_edit_colleges, 'Colleges Edit' %></td>
            <td><%= permission_checkbox @member, :can_add_staff, 'Staff Add' %></td>
            <td><%= permission_checkbox @member, :can_add_category, 'Category Add' %></td>
          </tr>
          <tr>
            <td><%= permission_checkbox @member, :can_edit_courses, 'Courses Edit' %></td>
            <td></td>
            <td><%= permission_checkbox @member, :can_edit_staff, 'Staff Edit' %></td>
            <td><%= permission_checkbox @member, :can_edit_category, 'Category Edit' %></td>
          </tr>
          <tr>
            <td><%= permission_checkbox @member, :can_remove_courses, 'Courses Remove' %></td>
            <td></td>
            <td><%= permission_checkbox @member, :can_remove_staff, 'Staff Remove' %></td>
            <td><%= permission_checkbox @member, :can_remove_category, 'Category Remove' %></td>
          </tr>
          <tr>
            <td colspan="2"></td>
            <td><%= permission_checkbox @member, :can_promote_staff, 'StaffPromote' %></td>
          </tr>
          <tr>
            <td colspan="4">
              <%= submit_tag 'Update Permissions', class: 'btn btn-default btn-block' %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>

    <% if policy(@member).promote_admin? %>
      <br>
      <% if @member.has_role? :site_admin %>
        <%= form_for @member, url: staff_user_demote_admin_path(@member), method: :post do |f| %>
            <%= f.submit 'Demote from Admin', class: 'btn btn-default btn-block' %>
        <% end %>
      <% else %>
        <%= form_for @member, url: staff_user_promote_admin_path(@member), method: :post do |f| %>
            <%= f.submit 'Promote to Admin', class: 'btn btn-primary btn-block' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>




