<% breadcrumb :staff_users_show, @member %>
<% @title = 'Staff Member Details' %>

<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>Username:</strong>
      </div>
      <div class="col-xs-8">
        <%= @member.username %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>Email:</strong>
      </div>
      <div class="col-xs-8">
        <%= @member.email %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>First Name:</strong>
      </div>
      <div class="col-xs-8">
        <%= @member.first_name %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>Family Name:</strong>
      </div>
      <div class="col-xs-8">
        <%= @member.family_name %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>Job Title:</strong>
      </div>
      <div class="col-xs-8">
        <%= @member.job_title %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>College:</strong>
      </div>
      <div class="col-xs-8">
        <%= @member.college.name %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>Created:</strong>
      </div>
      <div class="col-xs-8">
        <%= (distance_of_time_in_words_to_now @member.created_at).capitalize  %> ago
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>Updated:</strong>
      </div>
      <div class="col-xs-8">
        <%= (distance_of_time_in_words_to_now @member.updated_at).capitalize %> ago
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>Last Sign-in:</strong>
      </div>
      <div class="col-xs-8">
        <% if @member.last_sign_in_at.nil? %>
          Never
        <% else %>
          <%= (distance_of_time_in_words_to_now @member.last_sign_in_at).capitalize %> ago
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-4">
        <strong>Last Sign-in IP:</strong>
      </div>
      <div class="col-xs-8">
        <% if @member.last_sign_in_ip.nil? %>
          None
        <% else %>
          <%= @member.last_sign_in_ip %> ago
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>

<%= link_to 'Permissions', staff_user_permissions_path(@member) if policy(@member).permissions? %> |
<%= link_to 'Edit', edit_staff_user_path(@member) if policy(@member).edit? %> |
<%= link_to 'Delete', staff_user_remove_path(@member) if policy(@member).remove?  %>