<% breadcrumb :staff_users_show, @user %>
<% @title = 'Staff Member Details' %>

<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <strong>Username:</strong>
          </div>
          <div class="col-xs-8">
            <%= @user.username %>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <strong>Email:</strong>
          </div>
          <div class="col-xs-8">
            <%= @user.email %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <strong>First Name:</strong>
          </div>
          <div class="col-xs-8">
            <%= @user.first_name %>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <strong>Family Name:</strong>
          </div>
          <div class="col-xs-8">
            <%= @user.family_name %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <strong>Job Title:</strong>
          </div>
          <div class="col-xs-8">
            <%= @user.job_title %>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <strong>College:</strong>
          </div>
          <div class="col-xs-8">
            <%= @user.college.name %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <strong>Created:</strong>
          </div>
          <div class="col-xs-8">
            <%= (distance_of_time_in_words_to_now @user.created_at).capitalize  %> ago
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-4">
            <strong>Updated:</strong>
          </div>
          <div class="col-xs-8">
            <%= (distance_of_time_in_words_to_now @user.updated_at).capitalize %>
          </div>
      </div>
      </div>
    </div>

    <% unless @user.last_sign_in_at.nil? %>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-4">
              <strong>Last Sign-in:</strong>
            </div>
            <div class="col-xs-8">
              <%= (distance_of_time_in_words_to_now @user.last_sign_in_at).capitalize %> ago
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-xs-4">
              <strong>Sign-in IP:</strong>
            </div>
            <div class="col-xs-8">
              <%= @user.last_sign_in_ip %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <br>

    <%= link_to 'Edit', edit_staff_user_path(@user) %> |
    <%= link_to 'Delete', staff_user_remove_path(@user) %> |
    <%= link_to 'Back', staff_users_path %>
  </div>
</div>
