<%
  breadcrumb :staff_users_show, @member
  @title = 'Staff Member Details'
%>

<div class="row">
  <div class="col-sm-3">
    <div class="well">
      <h3 class="no-top-margin">Permissions</h3>
      <% if @member.roles.empty? %>
        <p class="text-darkish small"><em>This staff member has no permissions</em></p>
      <% else %>
        <ul class="list-unstyled small">
        <% @member.roles.each do |role| %>
          <li><%= role.name.humanize %></li>
        <% end %>
        </ul>
      <% end %>
    </div>

    <%= link_to 'Change Permissions', staff_user_permissions_path(@member), class: 'btn btn-default btn-block', role: 'button' %>
    <%= link_to 'Edit Staff Member', edit_staff_user_path(@member), class: 'btn btn-default btn-block', role: 'button' %>
    <%= link_to 'Remove Staff Member', staff_user_remove_path(@member), class: 'btn btn-default btn-block', role: 'button' %>
  </div>
  <div class="col-sm-9">
    <div class="row">
      <div class="col-xs-2">
        <strong>Username:</strong>
      </div>
      <div class="col-xs-10">
        <%= @member.username %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Email:</strong>
      </div>
      <div class="col-xs-10">
        <%= @member.email %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>First Name:</strong>
      </div>
      <div class="col-xs-10">
        <%= @member.first_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Family Name:</strong>
      </div>
      <div class="col-xs-10">
        <%= @member.family_name %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Job Title:</strong>
      </div>
      <div class="col-xs-10">
        <%= @member.job_title %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>College:</strong>
      </div>
      <div class="col-xs-10">
        <%= @member.college.name %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Created:</strong>
      </div>
      <div class="col-xs-10">
        <%= (distance_of_time_in_words_to_now @member.created_at).capitalize  %> ago
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Updated:</strong>
      </div>
      <div class="col-xs-10">
        <%= (distance_of_time_in_words_to_now @member.updated_at).capitalize %> ago
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Last Sign-in:</strong>
      </div>
      <div class="col-xs-10">
        <% if @member.last_sign_in_at.nil? %>
            Never
        <% else %>
            <%= (distance_of_time_in_words_to_now @member.last_sign_in_at).capitalize %> ago
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <strong>Last Sign-in IP:</strong>
      </div>
      <div class="col-xs-10">
        <% if @member.last_sign_in_ip.nil? %>
            None
        <% else %>
            <%= @member.last_sign_in_ip %> ago
        <% end %>
      </div>
    </div>
  </div>
</div>

