<% breadcrumb :staff_categories %>
<% @title = 'Manage Categories' %>

<div class="row">
  <div class="col-sm-3">
    <%= render 'staff/shared/courses_sidenav', page: :categories %>

    <p class="text-darkish small">Use the button below to create a new category.</p>
    <%= link_to new_staff_category_path, class: 'btn btn-default btn-block', role: 'button' do |link| %>
      <%= icon('plus-circle') %>
      Add Category
    <% end %>
    <br>
  </div>
  <div class="col-sm-9">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Courses</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= category.name %></td>
              <td><%= category.courses_count %></td>
              <td><%= link_to icon('pencil-square'), edit_staff_category_path(category), title: 'Edit Name' %></td>
              <td><%= link_to icon('trash'), staff_category_remove_path(category), title: 'Delete Category' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
