<div class="well">
  <h3 class="no-top-margin">Information</h3>
  <ul class="application-info-list">
    <li>Username: <%= application.student.username %></li>
    <li>Submitted: <%= format_date application.submitted_date %></li>
    <li>Status: <%= application.status.titleize %></li>
    <li>Replies Due: <%= (format_date application.replies_due) or 'N/A' %></li>
  </ul>
</div>

<ul class="list-unstyled small text-darkish">
  <li>Created <%= distance_of_time_in_words_to_now application.created_at %> ago</li>
  <li>Updated <%= distance_of_time_in_words_to_now application.updated_at %> ago</li>
</ul>