<%= image_tag college.image, class: 'img-responsive college-image' %>

<h3 class="no-top-margin"><%= college.name %></h3>

<%= markdown(college.description) %>

<div class="row">
  <div class="col-sm-6">
    <h4>Address</h4>
    <address>
      <%= college.name %><br>
      <%= simple_format(college.address, {}, wrapper_tag: 'span') %><br>
      <%= college.postcode %>
    </address>
  </div>

  <div class="col-sm-6">
    <h4>Contact</h4>
    <ul class="list-unstyled">
      <li>Web: <%= link_to clean_url(college.website), college.website %></li>
      <li>Tel: <%= college.telephone %></li>
      <li>Email: <%= mail_to college.email %></li>
    </ul>
  </div>
</div>