<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>Course</th>
      <th>College</th>
      <th>Offer</th>
      <th>Choice</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <% application.course_selections.includes(course: :college).order(:student_choice).each do |selection| %>
        <tr>
          <td title="<%= selection.course.title %>"><%= truncate selection.course.title, length: 50 %></td>
          <td><%= selection.course.college.name %></td>
          <td><%= selection.college_offer.humanize if selection.college_offer %></td>
          <td><%= selection.student_choice ? selection.student_choice.humanize : 'None' %></td>
          <td><%= selection.note %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>