<div class="table-responsive">
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>Authorized</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Card Holder</th>
      <th>Last Digits</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% payments.each do |payment| %>
        <tr>
          <td><%= icon(payment.authorized? ? 'check' : 'ban', style: 'width: 1em;') %> <%= payment.status.humanize %></td>
          <td><%= icon(payment.paypal? ? 'cc-paypal' : 'credit-card-alt') %> <%= payment.payment_type.humanize %></td>
          <td><%= number_to_currency payment.amount_pounds, unit: '£' %></td>
          <td><%= format_date payment.paid_at %></td>
          <td><%= payment.credit_card? ? payment.card_holder : 'N/A' %></td>
          <td><%= payment.credit_card? ? credit_card_number(payment.last_four_digits) : 'N/A' %></td>
          <td><%= payment.description %></td>
          <td>
            <% if !payment.failed? && current_user.student? %>
              <%= link_to payment_path(payment, format: :pdf), title: 'Download Invoice' do %>
                  <%= icon('download') %>
              <% end %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>