<div class="jumbotron">
  <h2 class="no-top-margin">Welcome to Future Prospects.</h2>
  <p>You can search and browse to find your dream course. To apply for a course you will need to <%= link_to 'register', new_student_registration_path %> to create an
    application. If you've already created your application, please <%= link_to 'sign in', new_student_session_path %> to track its status.</p>
</div>

<% if College.clearance_any? %>
  <div class="alert alert-warning alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h3 class="no-top-margin">Clearance Has Started!</h3>
    <p>Clearance is where we match students who did not receive a place to courses that still have open spaces. Please
    feel free to browse our <%= link_to 'list of clearance courses', clearance_path, style: 'color: white; text-decoration: underline;' %>.</p>
  </div>
<% end %>

<div class="row">
  <!-- Search Courses Column -->
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><%= icon('search', class: 'index-icon') %> Search Courses</h2>
        <p>Search our course listings to find the one that's perfect for you.</p>
        <%= render 'shared/course_search', path: courses_path %>

        <h2><%= icon('info-circle', class: 'index-icon') %> Browse Courses</h2>
        <p>Browse the categories list to view all of the opportunities we offer.</p>
        <% if @categories.any? %>
          <% cache @categories do %>
            <ul class="list-inline">
              <% @categories.each do |category| %>
                <li><%= link_to category.name, courses_category_path(category) %></li>
              <% end %>
            </ul>
          <% end %>
        <% else %>
          <p class="text-darkish small"><em>No categories</em></p>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Login Column -->
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><%= icon('user-circle', class: 'index-icon') %> Students</h2>
        <p>Register now to apply for your dream course.</p>
        <%= link_to 'Register', new_student_registration_path, class: 'btn btn-default btn-block', role: 'button' %>
        <br>
        <p>Sign in to track your application.</p>
        <%= link_to 'Sign In', new_student_session_path, class: 'btn btn-default btn-block', role: 'button' %>

        <h2 class="vcenter"><%= icon('users', class: 'index-icon') %> Colleges</h2>
        <p>Sign in to manage your college area.</p>
        <%= link_to 'Sign In', new_staff_session_path, class: 'btn btn-default btn-block', role: 'button' %>
      </div>
    </div>
  </div>
</div>
