<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Future Prospects</h2>
        <p>Welcome productive staff member.</p>

        <div class="table-responsive">
          <table class="table table-condensed">
            <tbody>
              <% unless current_staff.has_role? :site_admin %>
                <tr>
                  <td>Username:</td>
                  <td><%= current_staff.username %></td>
                </tr>
                <tr>
                  <td>Job Title:</td>
                  <td><%= current_staff.job_title %></td>
                </tr>
                <tr>
                  <td>Fullname:</td>
                  <td><%= current_staff.full_name %></td>
                </tr>
                <tr>
                  <td>College:</td>
                  <td><%= current_staff.college ? current_staff.college.name : 'N/A' %></td>
                </tr>
              <% end %>
              <tr>
                <td>Email:</td>
                <td><%= current_staff.email %></td>
              </tr>
              <tr>
                <td>Last Sign In:</td>
                <td><%= format_datetime current_staff.last_sign_in_at %></td>
              </tr>
              <tr>
                <td>Last Sign In IP:</td>
                <td><%= current_staff.last_sign_in_ip %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <p><%= link_to 'Edit Profile', edit_staff_registration_path %> | <%= link_to 'View Permissions', staff_member_path(current_staff) %></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2>Attention Needed</h2>
        <p>The following applications are awaiting attention.</p>
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Updated</th>
            </tr>
            </thead>
            <tbody>
              <% @applications.each do |application| %>
                <tr>
                  <td><%= link_to application.student.full_name, staff_application_path(application) %></td>
                  <td><%= application.status.titleize %></td>
                  <td><%= format_date application.updated_at %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
        <p class="text-right"><%= link_to 'View Applications', staff_applications_path %></p>
      </div>
    </div>
  </div>
</div>
