<div class=well>
  <h2>Welcome, <%= current_student.full_name %>!</h2>
  <p>This section of the site will walk you through the college application process.</p>
</div>

<hr>

<div class="row">
  <div class="col-md-3 col-sm-12">
    <p class="text-darkish small">Application steps</p>
    <ul class="list-group" >
      <%= home_stage_item 'Create Application ', @application.nil? || @application.submitting? %>
      <%= home_stage_item 'Make Payment ', @application.present? && (@application.awaiting_payment? || @application.payment_failed?) %>
      <%= home_stage_item 'Track Application ', @application.present? && @application.awaiting_decisions? %>
      <%= home_stage_item 'Make Choices ', @application.present? && (@application.all_decisions_made? || @application.all_rejected?) %>
      <%= home_stage_item 'Completed ', @application.present? && @application.completed? %>
    </ul>
  </div>

  <div class="col-md-9 col-sm-12">
    <p class="text-darkish small">Your next step</p>
    <div class="home-stage-panel">
      <div class="panel-body">
        <!-- Text here varies depending on application status -->
        <% if @application.nil? %>
          <%= form_tag applications_create_path, method: :post do %>
            <p><strong>You need to create an application.</strong></p>
            <p>You currently don't have an application, so first thing's first, you'll need to create one. Creating an
              application allows you to tell us about yourself, what skills, qualities, and experience you have, and
              what you can offer.</p>
            <p>You can also use it to tell us what courses you'd like to study. Once submitted you'll need to make a
            payment for the application fee. After that, your application will be sent to your chosen colleges to be
              considered.</p>
            <div class="text-right">
              <%= submit_tag 'Create application' %>
            </div>
          <% end %>
        <% elsif @application.submitting? %>
          <p><strong>You've started your application but not finished it.</strong></p>
          <p>You need to complete your application in order to apply for a course. Your application allows you to tell us about yourself, what skills, qualities, and experience you have, and what you can offer.</p>
          <p>You can also use it to tell us what courses you'd like to study. Once submitted you'll need to make a
            payment for the application fee. After that, your application will be sent to your chosen colleges to be
            considered.</p>
          <div class="text-right">
            <%= link_to 'Continue Application', applications_continue_path, role: 'button', class: 'link-button' %>
          </div>
        <% elsif @application.awaiting_payment? %>
          <p><strong>Your application has been submitted but we haven't received your application fee yet.</strong></p>
          <p>We are waiting to receive a payment for the application fee of <strong><%= number_to_currency @application.calculate_fee_pounds, unit: '£' %></strong>.
            The payment needs to be made before your application can be processed. You can make a payment either with a debit or credit card, or through PayPal.</p>
          <p>Once payment is received your application will be sent to your chosen colleges to be considered.</p>
          <div class="text-right">
            <%= link_to 'Make Payment', payment_redirect_path(applications_completed_path), role: 'button', class: 'link-button' %>
          </div>
        <% elsif @application.payment_failed? %>
          <p><strong>You made a payment but it was not successful.</strong></p>
          <p>We are waiting to receive a payment for the application fee of <strong><%= number_to_currency @application.calculate_fee_pounds, unit: '£' %></strong>.</p>
          <p>The payment needs to be received by the <strong><%= format_date @application.payment_expiry_time %></strong> or your application will be cancelled. You can make a payment either with a debit or credit card, or through PayPal. Once payment is received your application will be sent to your chosen colleges to be considered.</p>
          <div class="text-right">
            <%= link_to 'Make Payment', payment_redirect_path(applications_completed_path), role: 'button', class: 'link-button' %>
          </div>
        <% elsif @application.cancelled? %>
          <div class="alert alert-danger"><strong>Your application has been cancelled.</strong></div>
          <p>We have not received your application fee. We were due to receive your application fee of
            <strong><%= number_to_currency @application.calculate_fee_pounds, unit: '£' %></strong> by
            <strong><%= format_date @application.payment_expiry_time %></strong>. This payment was not made in due time.
            For this reason we have cancelled your application. If you would like to discuss the matter further, please
            contact the <%= mail_to 'futureprospectsapp@gmail.com', 'administrative staff' %>.</p>
        <% elsif @application.awaiting_decisions? %>
          <p><strong>Your application has been sent to your chosen colleges to be considered.</strong></p>
          <p>Once you have received all of your
            decisions you can then prioritise them so you can choose the college and course that's right for you. You
            will be notified once your decisions have been made, until then you can keep up-to-date with what's happening
            with your application in the track application section.</p>
          <div class="text-right">
            <%= link_to 'Track Application', decisions_path, role: 'button', class: 'link-button' %>
          </div>
        <% elsif @application.all_decisions_made? || @application.all_rejected?  %>
          <p><strong>All of your decisions have been made.</strong></p>
            <p>All of your selected colleges have made their decisions, and you are now able to make your own. You can
            now prioritise your decisions in order to choose the course and college that's right for you. You can also
            decline your offers, if you decide not to take them.</p>
          <div class="text-right">
            <%= link_to 'Make Your Choices', decisions_path, role: 'button', class: 'link-button' %>
          </div>
        <% elsif @application.completed? %>
            <p><strong>Your application is completed!</strong></p>

            <p>You will hear from your chosen colleges in due time. For contact details, or if you have any issues or
            questions, please select the What Next? button below.</p>
            <div class="text-right">
              <%= link_to 'What Next?', decisions_completed_path, role: 'button', class: 'link-button' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

