<%
  status = current_student.application_status
%>

<div class=well>
  <h2>Welcome, <%= current_student.full_name %>!</h2>
  <p>This section of the site will walk you through the college application process.</p>
</div>

<hr>

<div class="row">
  <div class="col-xs-3">
    <p class="text-darkish small">Application steps</p>
    <ul class="list-group" >
      <%= home_stage_item 'Create Application ', [:create_application, :continue_application].include?(status) %>
      <%= home_stage_item 'Make Payment ', [:make_payment, :make_repayment].include?(status) %>
      <%= home_stage_item 'Await Decisions ', status == :track_application %>
      <%= home_stage_item 'Make Choices ', status == :track_application %>
    </ul>
  </div>

  <div class="col-xs-9">
    <p class="text-darkish small">Your next step</p>
    <div class="home-stage-panel">
      <div class="panel-body">
        <% if status == :create_application %>
          <%= form_tag applications_create_path, method: :post do %>
            <p><strong>You need to create an application.</strong></p>
            <p>You currently don't have an application, so first thing's first, you'll need to create one. Creating an
              application allows you to tell us about yourself, what skills, qualities, and experience you have, and
              what you can offer.</p>
            <p>You can also use it to tell us what courses you'd like to study. Once submitted you'll need to make a
            payment for the application fee. After that, your application will be sent to your chosen colleges to be
              considered.</p>
            <div class="text-right">
              <%= submit_tag 'Create application' %>
            </div>
          <% end %>
        <% elsif status == :continue_application %>
          <p><strong>You've started your application, but it's not finished</strong></p>
          <p>Finishing your application allows you to tell us about yourself, what skills, qualities, and experience you have, and what you can offer.</p>
          <p>You can also use it to tell us what courses you'd like to study. Once submitted you'll need to make a
            payment for the application fee. After that, your application will be sent to your chosen colleges to be
            considered.</p>
          <div class="text-right">
            <%= link_to 'Continue Application', applications_continue_path(@application), role: 'button' %>
          </div>
        <% elsif status == :make_payment %>
          <p><strong>Your application has been submitted but we haven't received your application fee yet.</strong></p>
          <p>We are waiting to receive a payment for the application fee of <strong><%= number_to_currency @application.calculate_fee_pounds, unit: '£' %></strong>. The payment needs to be made before your application can be processed. You can make a payment either with a debit or credit card, or through PayPal.</p>
          <p>Once payment is received your application will be sent to your chosen colleges to be considered.</p>
          <div class="text-right">
            <%= link_to 'Make Payment', payments_check_path, role: 'button' %>
          </div>
        <% elsif status == :track_application %>
            <%= link_to 'Track Application', applications_continue_path(@application), role: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

