<%= form_for @school, :html => {:class => 'form-horizontal', :role => 'form' }, url: applications_education_add_path(@application), method: :post do |f|%>
  <div class="row">
    <div class="col-xs-10">
      <h3 class="no-top-margin">Add Education</h3>
    </div>
    <div class="col-xs-2 text-darkish small text-right">
      <em>* Optional</em>
    </div>
  </div>

  <p class="text-darkish small">Add any school, college, university, or other institution where you have gained a qualification.</p>
  <%= form_errors @school %>

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= form_text_field f, :name, {label: 'School name'} %>
      <%= form_text_field f, :address_1 %>
      <%= form_text_field f, :address_2, {label: '* Address 2'} %>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%= form_text_field f, :city %>
      <%= form_text_field f, :postcode, {label: 'Post code'} %>
      <%= form_text_field f, :country %>
    </div>
  </div>

  <div class="text-right">
    <%= f.submit 'Add School', class: 'add-button' %>
  </div>
<% end %>