<%= form_for @school, url: path, :html => {:class => 'form-horizontal', :role => 'form' } do |f|%>

  <%= f.hidden_field :id %>

  <%= form_errors @school %>

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= form_text_field f, :name, {label: 'School name'} %>
      <%= form_text_field f, :address_1 %>
      <%= form_text_field f, :address_2, {label: '* Address 2'} %>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%= form_text_field f, :city %>
      <%= form_text_field f, :postcode, {label: 'Post code'} %>
      <%= form_text_field f, :country %>
    </div>
  </div>

  <div class="text-right">
    <%= f.submit class: 'add-button' %>
  </div>
<% end %>