<script type="text/javascript">
  $(function() {
      $("#school_name").autocomplete({
          minLength: 1,
          source: '<%= url_for applications_education_search_url %>',
          focus: function( event, ui ) {
              $( "#school_name" ).val( ui.item.name );
              return false;
          },
          select: function( event, ui ) {
              $( "#school_name" ).val( ui.item.name );
              $( "#school_address_1" ).val( ui.item.address_1 );
              $( "#school_address_2" ).val( ui.item.address_2 );
              $( "#school_city" ).val( ui.item.city );
              $( "#school_postcode" ).val( ui.item.postcode );
              $( "#school_country" ).val( ui.item.country );
              return false;
          }
      }).autocomplete("instance")._renderItem = function(ul, item) {
          return $("<li>").append("<div>" + item.name + "</div>").appendTo(ul);
      };
  });
</script>

<%= form_for @school, url: path, :html => {:class => 'form-horizontal', :role => 'form' } do |f|%>

  <%= f.hidden_field :id %>

  <%= form_errors @school %>

  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <%= form_text_field f, :name, {label: 'School name'} %>
      <%= form_text_field f, :address_1 %>
      <%= form_text_field f, :address_2, {label: '* Address 2'} %>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%= form_text_field f, :city %>
      <%= form_text_field f, :postcode, {label: 'Post code'} %>
      <%= form_text_field f, :country %>
    </div>
  </div>

  <div class="text-right">
    <%= f.submit class: 'add-button' %>
  </div>
<% end %>