<div class="panel panel-default">
  <div class="panel-body">
    <p><em>This section will guide you through the process of creating your college application.</em></p>
    <h3>Application Stages</h3>
    <div class="list-group">
      <%= stage_item 'Introduction', applications_intro_path, stage, :intro_stage %>
      <%= stage_item 'Profile', applications_profile_path, stage, :profile_stage %>
      <%= stage_item 'Education', applications_education_path, stage, :education_stage %>
      <%= stage_item 'Employment', applications_employment_path, stage, :employment_stage %>
      <%= stage_item 'References', applications_references_path, stage, :references_stage %>
      <%= stage_item 'Personal Statement', applications_statement_path, stage, :statement_stage %>
      <%= stage_item 'Add Courses', applications_courses_path, stage, :courses_stage %>
      <%= stage_item 'Submit', applications_submit_path, stage, :submit_stage %>
    </div>
  </div>
</div>