<% breadcrumb :application_courses %>
<% @title = 'Add Courses' %>

<%= render 'remove_modal', title: 'Remove Job', message: 'Are you sure you want to remove the following job?', remote: true %>

<script>
  function registerAutocomplete(name, id, source) {
    $(name).autocomplete({
      minLength: 1,
      source: source,
      focus: function (event, ui) {
        $(name).val(ui.item.title);
        $(id).val(ui.item.id);
        return false;
      },
      select: function (event, ui) {
        $(name).val(ui.item.title);
        $(id).val(ui.item.id);
        return false;
      }
    }).autocomplete('instance')._renderItem = function (ul, item) {
      return $("<li>")
        .append('<div class="text-capitalize"><strong>' +
          item.title +
          '</strong><br>' +
          item.college.name + ' &raquo; ' + item.category.name +
          '</div>')
        .appendTo(ul);
    };
  }

  $(function () {
    registerAutocomplete('#selected_course', '#course_selection_course_id', '<%= url_for courses_search_path(:json) %>');
  });
</script>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application, stage: :courses_stage} %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Add Courses</h3>
    <p>
      Add up to <strong>five courses</strong> that you wish to apply for. Use the auto-complete search box below to
      select the course and then click the add button. You will be charged the specified application fee
      when your application is submitted.
    </p>
    <%= form_for @course_selection, url: applications_courses_add_path, method: :post, remote: true do |f| %>
      <div id="add-course-errors">
        <%= form_errors @course_selection %>
        <%= form_errors @application %>
      </div>
      <%= f.hidden_field :course_id %>

      <div class="input-group">
        <%= text_field_tag :selected_course, params[:selected_course], placeholder: 'Enter the title of the course', class: 'form-control full-width courses-autocomplete' %>
        <span class="input-group-btn">
        <%= f.submit 'Add Course', class: 'btn btn-default' %>
      </span>
      </div>
    <% end %>

    <hr>
    <h3>Course List</h3>

    <div class="row">
      <div class="col-xs-12" id="course-list">
        <%= render 'course_list', selections: @course_selections %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-right">
        <p class="text-darkish small">Continue to the next section when ready.</p>
        <%= form_for @application, url: applications_courses_next_path, method: :post do |f| %>
          <%= f.submit 'Save and continue...', class: 'next-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
