<% breadcrumb :application_education %>
<% @title = 'Education' %>

<%= render 'remove_modal', title: 'Remove School', message: 'Are you sure you want to remove the following school?', remote: true %>

<div class="row">
  <div class="col-sm-3">
    <%= render 'stages_sidebar', application: @application, stage: :education_stage %>
  </div>

  <div class="col-sm-9">
    <!-- Add school form -->
    <div class="row">
      <div class="col-xs-10">
        <h3 class="no-top-margin">Add Education</h3>
      </div>
      <div class="col-xs-2 text-darkish small text-right">
        <em>* Optional</em>
      </div>
    </div>

    <p class="text-darkish small">Add any school, college, university, or other institution where you have gained a qualification.</p>

    <%= render 'education_form', path: applications_education_add_path, remote: true %>

    <!-- Display schools list -->
    <hr>
    <h3 class="no-top-margin">Education History</h3>

    <div id="education-list">
      <%= render 'education_list', schools: @application.schools %>
    </div>

    <div class="row">
      <div class="col-sm-12 text-right">
        <hr>
        <p class="text-darkish small">Continue to the next section when ready.</p>
        <!-- Form used to validate that schools/courses have been added -->
        <%= form_for @application, url: applications_education_next_path, method: :post do |f| %>
          <%= f.submit 'Save and continue...', class: 'next-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
