<% breadcrumb :application_employment %>
<% @title = 'Employment' %>

<%= render 'remove_modal', title: 'Remove Job', message: 'Are you sure you want to remove the following job?', remote: true %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application, stage: :employment_stage} %>
  </div>

  <div class="col-sm-9">
    <div class="row">
      <div class="col-xs-10">
        <h3 class="no-top-margin">Add Employment</h3>
      </div>
      <div class="col-xs-2 text-darkish small text-right">
        <em>* Optional</em>
      </div>
    </div>

    <p class="text-darkish small">Add your employment history, any experience you have  in the workplace may help you earn a space on your chosen course.</p>

    <%= render 'employment_form', path: applications_employment_add_path, remote: true %>

    <hr>
    <h3>Employment History</h3>

    <div id="employment-list">
      <%= render 'employment_list', jobs: @application.jobs %>
    </div>

    <div class="row">
      <div class="col-sm-12 text-right">
        <hr>
        <p class="text-darkish small">Continue to the next section when ready.</p>
        <%= button_to 'Save and continue...', applications_employment_next_path, method: :post, class: 'next-button' %>
      </div>
    </div>
  </div>
</div>
