<% breadcrumb :application_employment, @application %>
<% @title = 'Employment' %>

<%= render partial: 'remove_modal',
           locals: {title: 'Remove Job',
                    message: 'Are you sure you want to remove the following job?'} %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application, stage: :employment_stage} %>
  </div>

  <div class="col-sm-9">
    <div class="row">
      <div class="col-xs-10">
        <h3 class="no-top-margin">Add Employment</h3>
      </div>
      <div class="col-xs-2 text-darkish small text-right">
        <em>* Optional</em>
      </div>
    </div>

    <p class="text-darkish small">Add your employment history, any experience you have  in the workplace may help you earn a space on your chosen course.</p>

    <%= form_for @job, :html => {:class => 'form-horizontal', :role => 'form' }, url: applications_employment_add_path(@application), method: :post do |f| %>
      <%= form_errors @job %>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <%= form_text_field f, :employer %>
          <%= form_text_field f, :address_1 %>
          <%= form_text_field f, :address_2, {label: '* Address 2'} %>
          <%= form_text_field f, :postcode, {label: 'Post code'} %>
          <%= form_text_field f, :country %>
        </div>

        <div class="col-sm-6 col-xs-12">
          <%= form_text_field f, :job_title %>
          <%= form_text_field f, :duties %>
          <%= form_date f, :start_date %>
          <%= form_date f, :end_date %>
        </div>
      </div>

      <div class="text-right">
        <%= f.submit 'Add Employment', class: 'add-button' %>
      </div>
    <% end %>

    <hr>
    <h3>Employment History</h3>
    <% if @application.jobs.empty? %>
      <p class="text-darkish small text-center">Any jobs you add will appear here.</p>
    <% else %>
      <p class="text-darkish small">You can remove a job by clicking the remove button.</p>
      <div class="list-group">
        <% @application.jobs.each do |job| %>
          <div class="list-group-item well">
            <div class="row">
              <div class="col-xs-6">
                <h4 class="no-top-margin"><strong><%= job.employer %></strong></h4>
              </div>
              <div class="col-xs-6 text-right">
                <a data-modal-name="<%= job.employer %> &mdash; <%= job.job_title %>"
                   data-modal-path="<%= applications_employment_remove_path(job) %>"
                   class="add-button custom-modal-button"
                   role="button">
                  <%= icon 'trash', style: 'font-size: 13pt;' %>
                  &nbsp;
                  Remove
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <address class="small">
                  <%= job.address_1 %><br>
                  <%= job.address_2 %> <%= '<br>'.html_safe unless job.address_2.empty? %>
                  <%= job.country %><br>
                  <%= job.postcode %>
                </address>
              </div>

              <div class="col-sm-8 col-xs-12">
                <div class="row small">
                  <div class="col-xs-2">
                    Job Title:
                  </div>
                  <div class="col-xs-10">
                    <%= job.job_title %>
                  </div>
                </div>
                <div class="row small">
                  <div class="col-xs-2">
                    Duties:
                  </div>
                  <div class="col-xs-10">
                    <%= job.duties %>
                  </div>
                </div>
                <div class="row small">
                  <div class="col-xs-2">
                    Start Date:
                  </div>
                  <div class="col-xs-10">
                    <%= format_date job.start_date %>
                    &mdash;
                    <%= format_date job.end_date %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-12 text-right">
        <hr>
        <p class="text-darkish small">Continue to the next section when ready.</p>
        <%= button_to 'Save and continue...', applications_employment_next_path(@application), method: :post, class: 'next-button' %>
      </div>
    </div>
  </div>
</div>
