<% breadcrumb :application_profile, @application %>
<% @title = 'Profile' %>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application, stage: :profile_stage} %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Personal Profile</h3>

    <div class="row small text-darkish">
      <div class="col-sm-6">
        <p>Enter your personal information, so you can tell the college about you.</p>
      </div>
      <div class="col-sm-6 text-right">
        <p><em>* Optional</em></p>
      </div>
    </div>

    <%= form_for @application, :html => {:class => 'form-horizontal', :role => 'form' }, url: applications_profile_next_path, method: :post do |f| %>
      <%= form_errors @application %>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <%= form_text_field f, :title %>
          <%= form_text_field f, :first_name %>
          <%= form_text_field f, :middle_name, {label: '* Middle name'} %>
          <%= form_text_field f, :family_name %>
          <%= form_text_field f, :previous_name, {label: '* Previous name'} %>
          <%= form_select f, :gender, options_for_select(Application.genders.keys.map { |w| [w.humanize, w] }) %>
        </div>

        <div class="col-sm-6 col-xs-12">

          <%= form_email_field f, :email %>
          <%= form_text_field f, :telephone %>
          <%= form_text_field f, :mobile, {label: '* Mobile'} %>
          <%= form_text_field f, :disability, {label: '* Disability'} %>
          <%= form_text_field f, :scottish_candidate_number, {label: 'SC Number <a title="Scottish Candidate Number" class="help-cursor">(?)</a>'.html_safe} %>
          <%= form_text_field f, :national_insurance_number, {label: 'NI Number <a title="National Insurance Number" class="help-cursor">(?)</a>'.html_safe} %>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h4>Permanent Address</h4>
          <p class="text-darkish small">This is the address that you live at.</p>
          <%= form_text_field f, :permanent_house_number, {label: 'House Number'} %>
          <%= form_text_field f, :permanent_address_1,{label: 'Address 1'} %>
          <%= form_text_field f, :permanent_address_2, {label: '* Address 2'} %>
          <%= form_text_field f, :permanent_city, {label: 'City'} %>
          <%= form_text_field f, :permanent_postcode, {label: 'Post Code'} %>
          <%= form_text_field f, :permanent_country, {label: 'Country'} %>
        </div>

        <div class="col-sm-6">
          <h4>Correspondence Address</h4>
          <p class="text-darkish small">This is the address where you want your letters sent (if different).</p>
          <%= form_text_field f, :correspondence_house_number, {label: '* House Number'} %>
          <%= form_text_field f, :correspondence_address_1,{label: '* Address 1'} %>
          <%= form_text_field f, :correspondence_address_2, {label: '* Address 2'} %>
          <%= form_text_field f, :correspondence_city, {label: '* City'} %>
          <%= form_text_field f, :correspondence_postcode, {label: '* Post Code'} %>
          <%= form_text_field f, :correspondence_country, {label: '* Country'} %>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-12 text-right">
          <p class="text-darkish small">Continue to the next section when ready.</p>
          <%= f.submit 'Save and continue...', class: 'next-button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
