<%
  breadcrumb :applications_show, @application
  @title = 'View Application'
%>

<div class="row">
  <div class="col-sm-12">
    <%= render 'shared/application_show', application: @application %>

    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="no-top-margin">Course Selection</h3>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Title</th>
              <th>College</th>
              <th>Offer</th>
              <th>Decision</th>
              <th>Start Date</th>
            </tr>
            </thead>
            <% @application.course_selections.each do |selection| %>
                <tr>
                  <td><%= selection.course.title %></td>
                  <td><%= selection.course.college.name %></td>
                  <td><%= selection.college_offer.humanize if selection.college_offer %></td>
                  <td><%= selection.student_choice.humanize if selection.student_choice %></td>
                  <td><%= format_date selection.course.start_date %></td>
                </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
