<% breadcrumb :application_statement %>
<% @title = 'Personal Statement' %>

<script type="text/javascript">
  $(document).ready(function(){
    var statement_text = $('#application_personal_statement');
    var count_element = $('#character-count');

    // Update character count.
    function update_character_count() {
      var total = statement_text.val().length;
      var left = <%= Application::STATEMENT_LENGTH %> - total;
      count_element.html(left);

      // Switch text colour.
      if (left < 0) {
          count_element.attr('class', 'text-danger');
      }
      else {
          count_element.removeAttr('class');
      }
    }

    update_character_count();
    statement_text.on('change keyup paste', update_character_count);
  });
</script>

<div class="row">
  <div class="col-sm-3">
    <%= render partial: 'stages_sidebar', locals: {application: @application, stage: :statement_stage} %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Add Personal Statement</h3>
    <%= form_for @application, url: applications_statement_next_path, method: :post do |f| %>
        <div class="row">
          <div class="col-xs-8">
            <p class="text-darkish small">Enter your personal statement </p>
          </div>
          <div class="col-xs-4 text-right" style="font-size: medium;">
            <strong><span id="character-count"></span></strong> characters left
          </div>
        </div>

      <%= form_errors @application %>

      <%= f.text_area :personal_statement, class: 'form-control full-width', rows: '24' %>

      <div class="row">
        <div class="col-sm-12 text-right">
          <hr>
          <p class="text-darkish small">Continue to the next section when ready.</p>
          <%= button_to 'Save and continue...', applications_statement_next_path, method: :post, class: 'next-button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
