<% breadcrumb :sign_in, resource %>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% if resource.staff? %>
        <p>Sign in to the site in order to manage your college area.</p>
        <% @title = 'Sign In (College)' %>
      <% else %>
        <p>Sign in to the site in order to track your application.</p>
        <% @title = 'Sign In' %>
      <% end %>

      <div class="form-group">
        <%= f.text_field :login, autofocus: true, placeholder: 'Username or Email Address', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group">
          <%= f.submit 'Sign in', class: 'btn btn-primary btn-block btn-md' %>
      </div>
    <% end %>
      <div class="text-right">
        <%= render 'devise/shared/links' %>
      </div>
    </div>
</div>
