<%
  breadcrumb :sign_in, resource
  @staff_navbar = resource.staff?
%>

<div class="row">
  <div class="<%= resource.student? ? 'col-sm-7 col-sm-offset-1' : 'col-sm-6 col-sm-offset-3' %>">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <% if resource.staff? %>
        <p>Sign in to the site in order to manage your college area.</p>
        <% @title = 'Sign In (College)' %>
      <% else %>
        <p>Sign in to the site in order to track your application. If you have not created an application, please
          <%= link_to 'register', new_student_registration_path %> to do so.</p>
        <% @title = 'Sign In' %>
      <% end %>

      <div class="form-group">
        <%= f.text_field :login, autofocus: true, placeholder: 'Username or Email Address', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="form-group">
          <%= f.submit 'Sign in', class: 'btn btn-primary btn-md', style: 'padding-left: 50px; padding-right: 50px;' %>
      </div>
    <% end %>

    <hr>

    <%= render 'devise/shared/links' %>
  </div>

  <% if resource.student? %>
    <div class="col-sm-3">
      <div class="well">
        <p class="text-darkish small">Sign in using another provider.</p>
        <%= link_to student_google_oauth2_omniauth_authorize_path, class: 'btn btn-primary btn-block', role: 'button', style: 'background-color: #db4a39; border: 0;' do %>
            <%= icon('google') %>
            &nbsp;
            Sign in with Google
        <% end %>

        <%= link_to student_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-block', role: 'button', style: 'background-color: #3b5998; border: 0;' do %>
            <%= icon('facebook') %>
            &nbsp;
            Sign in with Facebook
        <% end %>

        <%= link_to student_twitter_omniauth_authorize_path, class: 'btn btn-primary btn-block', role: 'button', style: 'background-color: #0084b4; border: 0;' do %>
            <%= icon('twitter') %>
            &nbsp;
            Sign in with Twitter
        <% end %>

      </div>
    </div>
  <% end %>
</div>
