<%= form_for payment, url: payments_path, method: :post do |f| %>
  <%= f.hidden_field :payment_type %>
  <%= f.hidden_field :paypal_payer_id %>
  <%= f.hidden_field :paypal_token %>

  <%= form_errors payment %>

  <div class="actions text-right">
    <p class="text-darkish small">Complete the payment through PayPal.</p>
    <%= f.button class: 'next-button' do %>
        <%= icon('paypal') %>
        &nbsp;
        Authorize Payment
    <% end %>
  </div>
<% end %>