<%
  breadcrumb :payments
  @title = 'Make Payment'
%>

<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="no-top-margin">Payment Stages</h3>
        <p><em>This section will walk you through the process of paying your application fee.</em></p>
        <ul class="list-group">
          <li class="list-group-item active">
            <div class="row">
              <div class="col-xs-10">Check Amount</div>
              <div class="col-xs-2 text-right"><%= icon('arrow-circle-right', class: 'app-arrow') %></div>
            </div>
          </li>
          <li class="list-group-item">Enter Details</li>
          <li class="list-group-item">Confirmation</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Check Amount</h3>

    <p>Before the application can be considered, a payment must be received for the following amount:</p>

    <p><strong>Amount: <%= number_to_currency @application.calculate_fee_pounds, unit: '£' %></strong></p>

    <p>You are being charged for these <%= pluralize @application.course_selections_count, 'course' %>:</p>

    <ol>
      <% @application.course_selections.each do |selection| %>
          <li><strong><%= selection.course.title %></strong> at <%= selection.course.college.name %></li>
      <% end %>
    </ol>

    <%= form_tag payments_check_continue_path, method: :post do %>
      <p>Please choose your prefer payment method.</p>

      <div class="form-group">
        <% options = options_for_select(Payment.payment_types.map {|name, value| [name.humanize, value]}) %>
        <%= select_tag :payment_type, options, {class: 'form-control'} %>
      </div>

      <div class="text-right">
        <p class="text-darkish small">Press continue to enter your payment details.</p>
        <%= submit_tag 'Continue', class: 'next-button' %>
      </div>
    <% end %>
  </div>
</div>

