<%
  breadcrumb :payments_new
  @title = 'Make Payment'
%>

<div class="row">
  <div class="col-sm-3">
    <%= render 'stages_sidebar', stage: :new %>

    <% if @payment.credit_card? %>
      <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <h4>Testing Note</h4>
        <p>These payments are currently not processed, they are made in sandbox mode. To see suitable testing values to use
          <%=link_to 'go here', 'https://developers.braintreepayments.com/reference/general/testing/ruby#credit-card-numbers', style: 'color: white; text-decoration: underline;' %>.</p>
      </div>
    <% end %>
  </div>

  <div class="col-sm-9">
    <% if @payment.paypal? %>
      <!-- Show paypal form. -->
      <div class="row">
        <div class="col-xs-10">
          <h3 class="no-top-margin">Confirm PayPal Purchase</h3>
        </div>
        <div class="col-xs-2">
          <%= image_tag 'paypal.png', class: 'img-responsive' %>
        </div>
      </div>

      <p>Amount to be paid: <strong><%= number_to_currency @payment.amount_pounds, unit: '£' %></strong></p>
      <p>Continue to authorize your payment through the PayPal provider.</p>
      <hr>
      <%= render 'paypal_form', payment: @payment %>
    <% else %>
        <!-- Show credit card form. -->
      <h3 class="no-top-margin">Enter Credit/Debit Card Details</h3>
      <p>Amount to be paid: <strong><%= number_to_currency @payment.amount_pounds, unit: '£' %></strong></p>
      <p>Enter your credit or debit card details below.</p>
      <hr>
      <%= render 'credit_card_form', payment: @payment %>
    <% end %>
  </div>
</div>