<%
  breadcrumb :payments
  @title = 'Make Payment'
%>

<div class="row">
  <div class="col-sm-3">
    <%= render 'stages_sidebar', stage: :payment_method %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Choose Payment Method</h3>
    <p>Before continuing a payment must be received for the following:</p>

    <ul class="list-unstyled">
      <li>Amount: <%= number_to_currency @payment.amount_pounds, unit: '£' %></li>
      <li>Description: <%= @payment.description %></li>
    </ul>

    <hr>

    <%= form_tag payment_method_continue_path, method: :post do %>
      <p>Please choose your preferred payment method.</p>

      <div class="form-group">
        <%
          options = '<option disabled="disabled" selected="selected">-- Choose --</option>'.html_safe +
                    '<option value="credit_card">Credit/Debit Card</option>'.html_safe +
                    '<option value="paypal">PayPal</option>'.html_safe
        %>
        <%= select_tag :payment_type, options, {class: 'form-control'} %>
      </div>

      <div class="text-right">
        <p class="text-darkish small">Press continue to enter your payment details.</p>
        <%= submit_tag 'Continue', class: 'next-button' %>
      </div>
    <% end %>
  </div>
</div>

