<%
  breadcrumb :payment_authorized, @payment
  @title = 'Payment Authorized'
%>

<div class="row">
  <div class="col-sm-3">
    <%= render 'stages_sidebar', stage: :show %>
  </div>

  <div class="col-sm-9">
    <h3 class="no-top-margin">Payment Received</h3>

    <p class="text-darkish">The following payment has been successfully received:</p>

    <div class="row">
      <div class="col-xs-4">
        <strong>Amount</strong>
      </div>
      <div class="col-xs-8">
        <%= number_to_currency @payment.amount_pounds, unit: '£' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <strong>Description</strong>
    </div>
      <div class="col-xs-8">
        <%= @payment.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <strong>Payment Type</strong>
      </div>
      <div class="col-xs-8">
        <%= @payment.payment_type.humanize %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <strong>Payment Date</strong>
      </div>
      <div class="col-xs-8">
        <%= format_date @payment.created_at %>
      </div>
    </div>
    <% if @payment.credit_card?  %>
      <div class="row">
        <div class="col-xs-4">
          <strong>Card Holder</strong>
        </div>
        <div class="col-xs-8">
          <%= @payment.card_holder %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <strong>Card Number</strong>
        </div>
        <div class="col-xs-8">
          <%= credit_card_number @payment.last_four_digits %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-4">
        <strong>Status</strong>
      </div>
      <div class="col-xs-8">
        <%= @payment.status.humanize %>
      </div>
    </div>

    <hr>

    <p><%= link_to 'Download Invoice', payment_path(@payment, format: :pdf) %></p>

    <hr>

    <div class="well">
      <h3 class="no-top-margin">What Next?</h3>
      <p>Your application will now be sent to your selected colleges in order to be considered. You will be contacted
        when a decision has been made. You can track the status of your application of your application by signing in.</p>

      <br>

      <div class="text-right">
        <%= link_to 'Continue', root_path, class: 'next-button', role: 'button' %>
      </div>
    </div>
  </div>
</div>

