<% breadcrumb :college, @college %>
<% @title = 'View College Details' %>

<!-- Colleges Sidebar -->
<div class="col-md-3">
  <div class="row">
    <div class="list-group small">
      <% @colleges.each do |college| %>
          <% active = 'active' if college == @college %>
          <%= link_to college.name, college, class: "list-group-item #{active}" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="col-md-9">
  <%= image_tag @college.image, class: 'img-responsive college-image' %>

  <h2 class="no-top-margin"><%= @college.name %></h2>

  <%= markdown(@college.description) %>

  <div class="row">
    <div class="col-sm-6">
      <h3>Address</h3>
      <address>
        <%= @college.name %><br>
        <%= simple_format(@college.address, {}, wrapper_tag: 'span') %><br>
        <%= @college.postcode %>
      </address>
    </div>

    <div class="col-sm-6">
      <h3>Contact</h3>
      <ul class="list-unstyled">
        <li>Web: <%= link_to clean_url(@college.website), @college.website %></li>
        <li>Tel: <%= @college.telephone %></li>
        <li>Email: <%= mail_to @college.email %></li>
      </ul>
    </div>
  </div>
</div>