<%
  breadcrumb :courses_clearance
  @title = 'Clearance'
%>

<p>Clearance courses are courses with spaces still left near to the start of term time. They typically have relaxed
  entry requirements, and are a good fit for anyone who had their original choices rejected. </p>

<% if College.where(clearance: true).empty? %>
  <div class="alert alert-info">
    There are currently no colleges in clearance mode.
  </div>
<% end %>

<div class="list-group">
  <% @courses.each do |course| %>
    <%= content_tag :div, class: 'list-group-item list-group-item-heading' do %>
      <div class="row">
        <div class="col-sm-10">
          <h3 class="no-top-margin"><%= link_to course.title, course %></h3>
          <%= course.college.name %> &mdash; <%= course.category.name %>
        </div>
        <div class="col-sm-2 text-right">
          <%= form_tag applications_clearance_path, method: :post do %>
            <%= hidden_field_tag :course_id, course.id %>
            <%= submit_tag 'Apply Clearance', class: 'btn btn-default', style: 'margin-top: 8px;' %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="digg_pagination text-center">
  <%= will_paginate @courses %>
</div>