<% breadcrumb :courses, @category %>
<% @title = 'Browse Available Courses' %>

<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
        // Redirects when college drop-down changes.
        $('#college-dropdown').change(function() {
            var id = $('#college-dropdown').val();
            window.location.search = (id === '0') ? '' : 'college=' + id;
        });
    });
  </script>
<% end %>

<!-- Find Courses Sidebar -->
<div class="row">
  <div class="col-md-3">
    <%= render 'shared/course_search', path: request.path %>

    <!-- Show categories list. -->
    <h4>Course Categories</h4>
    <div class="list-group small">
      <% active = 'active' if @category.nil? %>
      <%= link_to 'All Courses', courses_path(college: params[:college]), class: "list-group-item #{active}" %>
      <% @categories.each do |category| %>
        <% active = category == @category ? 'active' : '' %>
        <%= link_to category.name, courses_category_path(category, college: params[:college]), class: "list-group-item #{active}" %>
      <% end %>
    </div>
  </div>

  <!-- Main Content -->
  <div class="col-md-9">
    <!-- Drop-down only shown when on extra-small screen. -->
    <% options = '<option value="0">All Colleges</option>'.html_safe + options_from_collection_for_select(College.order(:name), :id, :name, params[:college]) %>
    <%= select_tag :college, options, id: 'college-dropdown', class: 'form-control'  %>

    <!-- Tab-bar shown when on larger screen. -->
    <ul class="nav nav-tabs" id="college-tabs">
      <li<%= ' class="active"'.html_safe unless params[:college] %>><%= link_to 'All Colleges', request.path %></li>
      <% College.order(:name).each do |college| %>
        <li<%= ' class="active"'.html_safe if params[:college] == college.id.to_s %>><%= link_to college.name, request.path + "?college=#{college.id}" %></li>
      <% end %>
    </ul>

    <% if @search_term %>
      <!-- Display search results string is needed. -->
      <p class="text-right text-darkish">Search results for "<%= @search_term %>"</p>
    <% end %>

    <!-- Display courses list. -->
    <% if @courses.empty? %>
      <p class="text-center text-warning" style="margin-top: 20px;"><em>There are no courses to display.</em></p>
    <% else %>
      <div class="list-group">
        <% @courses.each do |course| %>
          <a href="<%= url_for(course) %>" class="course-item list-group-item courses-panel">
            <div class="row" title="<%= course.title %>">
              <div class="col-sm-2 col-xs-12">
                <%= image_tag course.image.thumb, class: 'img-responsive course-image', alt: course.title %>
              </div>

              <div class="col-sm-10 col-xs-12" style="padding-left: 0;">
                <h3 class="course-title"><%= truncate course.title, length: 57 %></h3>

                <%= course.category.name %>
                &mdash;
                <%= course.college.name %>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    <% end %>

    <!-- Various pagination options in _pagination.scss -->
    <div class="digg_pagination text-center">
      <%= will_paginate @courses %>
    </div>
  </div>
</div>