<% breadcrumb :course, @course %>

<% @title = 'View Course Details' %>
<div class="row">
  <div class="col-md-3">

    <%= render 'shared/course_search', path: request.path %>

    <h4>Course Categories</h4>

    <div class="list-group small">
      <%= link_to 'All Courses', courses_path, class: 'list-group-item' %>
      <% @categories.each do |category| %>
          <%# Set active if this is the current category. %>
          <% active = 'active' if category == @course.category %>
          <%= link_to category.name, courses_category_path(category), class: "list-group-item #{active}" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <h3 class="no-top-margin"><%= @course.title %></h3>
    <%= render 'shared/course_info', course: @course %>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag @course.image, class: 'img-responsive full-width course-image no-top-margin', alt: @course.title %>

        <h4><strong><%= @course.college.name %></strong></h4>

        <ul class="list-group">
          <li class="list-group-item list-group-item-heading"><%= format_date @course.start_date %></li>
          <li class="list-group-item list-group-item-heading"><%= pluralize(@course.years, 'Year') %></li>
          <li class="list-group-item list-group-item-heading"><%= @course.course_type %></li>
          <% unless @course.level.nil? %>
            <li class="list-group-item list-group-item-heading"><%= @course.level %></li>
          <% end %>
          <li class="list-group-item list-group-item-heading"><%= pluralize @course.spaces, 'Space' %></li>
          <li class="list-group-item list-group-item-heading">Status: <%= @course.status.humanize %></li>
        </ul>

        <% if student_signed_in? %>
          <% if current_student.has_current_application? %>
            <%= form_for @course_selection, url: applications_courses_add_path(current_student.current_application), method: :post do |f| %>
              <%= f.hidden_field :course_id %>
              <%= f.submit 'Apply for Course', class: 'btn btn-success btn-block', style: 'margin-bottom: 5px;' %>
            <% end %>
          <% else %>
            <%= link_to 'Create Application', applications_create_path, class: 'btn btn-success btn-block', role: 'button', method: :post %>
          <% end %>
        <% else %>
          <%= link_to 'Register for Course', new_registration_path(:student), class: 'btn btn-success btn-block', role: 'button' %>
        <% end %>

        <%= link_to 'View College Details', @course.college, class: 'btn btn-success btn-block', role: 'button' %>

        <% if staff_signed_in? %>
          <%= link_to 'Edit Course', edit_staff_course_path(@course), class: 'btn btn-success btn-block', role: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>