<% breadcrumb :course, @course %>

<% @page_title = 'View Course' %>

<div class="col-md-3">
  <div class="row">
    <%= render partial: 'shared/course_search' %>

    <h4>Course Categories</h4>

    <div class="list-group small">
      <%= link_to 'All Courses', courses_path, class: "list-group-item" %>
      <% @categories.each do |category| %>
          <% active = category == @course.category ? 'active' : '' %>
          <%= link_to category.name, courses_category_path(category), class: "list-group-item #{active}" %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-6">
  <h3 class="no-top-margin"><%= @course.title %></h3>
  <%= markdown(@course.description) %>

  <h4>Entry Requirements</h4>
  <%= markdown(@course.entry_requirements) %>

  <h4>Career Prospects</h4>
  <%= markdown(@course.career_prospects) %>
</div>

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag @course.image, size: '220x185', class: 'course-image no-top-margin' %>

      <h4><strong><%= @course.college.name %></strong></h4>

      <ul class="list-unstyled">
        <li><%= @course.start_date %></li>
        <li><%= pluralize(@course.duration, 'Year') %></li>
        <li>Full Time</li>
        <li><%= @course.level %></li>
      </ul>

      <a href="#" class="btn btn-default btn-block" role="button">Apply for Course</a>
      <%= link_to 'View College Information', college_path(@course.college), class: 'btn btn-default btn-block' %>
    </div>
  </div>
</div>