<% breadcrumb :course, @course %>

<% @title = 'View Course' %>

<div class="col-md-3">
  <div class="row">
    <%= render partial: 'shared/course_search' %>

    <h4>Course Categories</h4>

    <div class="list-group small">
      <%= link_to 'All Courses', courses_path, class: 'list-group-item' %>
      <% @categories.each do |category| %>
          <%# Set active if this is the current category. %>
          <% active = 'active' if category == @course.category %>
          <%= link_to category.name, courses_category_path(category), class: "list-group-item #{active}" %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-6">
  <h3 class="no-top-margin"><%= @course.title %></h3>
  <%= markdown(@course.description) %>

  <h4>Entry Requirements</h4>
  <%= markdown(@course.entry_requirements) %>

  <h4>Career Prospects</h4>
  <%= markdown(@course.career_prospects) %>
</div>

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= image_tag @course.image, class: 'img-responsive full-width course-image no-top-margin' %>

      <h4><strong><%= @course.college.name %></strong></h4>

      <ul class="list-group">
        <li class="list-group-item list-group-item-heading"><%= @course.college.name %></li>
        <li class="list-group-item list-group-item-heading"><%= @course.start_date %></li>
        <li class="list-group-item list-group-item-heading"><%= pluralize(@course.years, 'Year') %></li>
        <li class="list-group-item list-group-item-heading"><%= @course.course_type %></li>
        <li class="list-group-item list-group-item-heading"><%= @course.level %></li>
      </ul>

      <%= link_to 'Apply for Course', nil, class: 'btn btn-success btn-block', role: 'button' %>
      <%= link_to 'View College Details', college_path(@course.college), class: 'btn btn-success btn-block', role: 'button' %>

    </div>
  </div>
</div>