<%
  breadcrumb :staff_reports_college, @college
  @title = 'College Report'
%>

<h3>Totals</h3>
<ul>
  <li>Total Students: <strong><%= @college.count_applicants %></strong></li>
  <li>Total Applications: <strong><%= @college.count_course_selections %></strong></li>
  <li>Successful Applications: <strong><%= CourseSelection.college(@college).successful.count %></strong></li>
</ul>

<h3>Courses</h3>
<p class="text-darkish small">Breakdown of number of applicantions per course.</p>
<%= bar_chart staff_reports_college_course_applicants_path(@college.id) %>

<div class="row">
  <div class="col-md-6">
    <h3>College Offers</h3>
    <p class="text-darkish small">Breakdown of offers made by the college.</p>
    <%= pie_chart staff_reports_college_offers_path(@college.id) %>
  </div>

  <div class="col-md-6">
    <h3>Student Replies</h3>
    <p class="text-darkish small">Breakdown of replies from students.</p>
    <%= pie_chart staff_reports_college_choices_path(@college.id) %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Gender</h3>
    <p class="text-darkish small">Breakdown of applicant gender.</p>
    <%= pie_chart staff_reports_college_genders_path(@college.id) %>
  </div>
</div>

<h3>Birth Date</h3>
<p class="text-darkish small">Breakdown of applicants by age.</p>
<%= line_chart staff_reports_college_birth_dates_path(@college.id) %>

<h3>Educational Establishment</h3>
<p class="text-darkish small">Breakdown of applicants by education establishments attended.</p>
<%= bar_chart staff_reports_college_schools_path(@college.id)%>
