<%
  breadcrumb :staff_reports_college, @college
  @title = 'College Report'
%>

<h3>'<%= @college.name %>' Reports</h3>

<p class="text-darkish small">View full report for the college.</p>
<p>
  <%= link_to staff_reports_show_college_path(@college), class: 'btn btn-primary', role: 'button' do %>
      <%= icon('graduation-cap ') %>
      View Full College Report
  <% end %>
</p>

<hr>

<h4>Course Reports</h4>
<p class="text-darkish small">View report for individual course.</p>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Course</th>
        <th>Category</th>
        <th>Applicants</th>
      </tr>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, staff_reports_show_course_path(course) %></td>
        <td><%= course.category.name %></td>
        <td><%= course.current_selections_count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="digg_pagination text-center">
  <%= will_paginate @courses %>
</div>