<%
  breadcrumb :staff_reports_course, @course
  @title = 'Course Report'
%>

<h3>'<%= @course.title %>' Report</h3>

<p class="text-darkish">Reports, information, charts, about applicants to this course.</p>

<% if @selections.any? %>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>College Decision</th>
        <th>Student Reply</th>
        <th>Application Status</th>
      </tr>
      </thead>
      <tbody>
      <% @selections.order(college_offer: :desc).each do |selection| %>
          <tr>
            <td><%= link_to selection.application.full_name, staff_application_path(selection.application) %></td>
            <td><%= selection.college_offer ? selection.college_offer.titleize : 'Pending' %></td>
            <td><%= selection.student_choice ? selection.skipped? ? 'None' : selection.student_choice.titleize : 'Pending' %></td>
            <td><%= selection.application.status.titleize %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <p class="text-right text-darkish">
    <%= pluralize @course.current_selections_count, 'Student' %> / <%= pluralize @course.spaces, 'Space' %>
  </p>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h4>College Offers</h4>
      <p class="text-darkish small">Breakdown of college offers for this course.</p>
      <%= pie_chart staff_reports_course_offers_path(@course.id, tab: params[:tab], format: :json) %>
    </div>
    <div class="col-md-6">
      <h4>Student Replies</h4>
      <p class="text-darkish small">Breakdown of student replies for this course.</p>
      <%= pie_chart staff_reports_course_replies_path(@course.id, tab: params[:tab], format: :json) %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h4>Gender</h4>
      <p class="text-darkish small">Breakdown of applicant gender for this course.</p>
      <%= pie_chart staff_reports_course_genders_path(@course.id, format: :json) %>
    </div>
    <div class="col-md-6">
      <h4>Ages</h4>
      <p class="text-darkish small">Breakdown of applicant ages offers for this course.</p>
      <%= line_chart staff_reports_course_ages_path(@course.id, format: :json) %>
    </div>
  </div>

  <hr>

  <h4>Schools</h4>
  <p class="text-darkish small">Breakdown of schools the applicants have studied at.</p>
  <%= bar_chart staff_reports_course_schools_path(@course.id, tab: params[:tab], format: :json) %>

  <hr>

  <h4>Applications by Week</h4>
  <p class="text-darkish small">Number of applications for this course broken down by week.</p>
  <%= line_chart staff_reports_course_applications_by_week_path(@course.id, tab: params[:tab], format: :json) %>

<% else %>
  <p class="text-darkish small text-center"><em>There are no applicants for this course</em></p>
<% end %>
