<%
  breadcrumb :staff_reports_courses
  @title = 'Courses Reports'
%>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>Course</th>
    <th>Category</th>
    <th>College</th>
    <th>Applicants</th>
  </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, staff_reports_course_path(course) %></td>
        <td><%= course.category.name %></td>
        <td><%= course.college.name %></td>
        <td><%= course.course_selections_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="digg_pagination text-center">
  <%= will_paginate @courses %>
</div>