<%
  breadcrumb :staff_reports_course, @course
  @title = 'Course Report'
%>

<div class="row">
  <div class="col-sm-10">
    <h3 class="no-top-margin">'<%= @course.title %>' Report</h3>
  </div>
  <div class="col-sm-2 text-right">
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <%= @year %> &mdash; <%= @year + 1 %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <% @years.each do |date, _| %>
            <li><%= link_to "#{date.year} &mdash; #{date.year + 1}".html_safe, request.path + "?year=#{date.year}" %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<p class="text-darkish">Reports, information, charts, about applicants to this course.</p>

<% selections = @course.course_selections.current(@year).includes(:application).order(college_offer: :desc) %>
<% if selections.any? %>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>College Decision</th>
        <th>Student Reply</th>
        <th>Application Status</th>
      </tr>
      </thead>
      <tbody>
      <% selections.each do |selection| %>
          <tr>
            <td><%= link_to selection.application.full_name, staff_application_path(selection.application) %></td>
            <td><%= selection.college_offer ? selection.college_offer.titleize : 'Pending' %></td>
            <td><%= selection.student_choice ? selection.skipped? ? 'None' : selection.student_choice.titleize : 'Pending' %></td>
            <td><%= selection.application.status.titleize %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <p class="text-right text-darkish">
    <%= pluralize selections.count, 'Student' %> / <%= pluralize @course.spaces, 'Space' %>
  </p>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h4>College Offers</h4>
      <p class="text-darkish small">Breakdown of college offers for this course.</p>
      <%= pie_chart staff_reports_course_offers_path(@course.id, year: @year, tab: params[:tab], format: :json) %>
    </div>
    <div class="col-md-6">
      <h4>Student Replies</h4>
      <p class="text-darkish small">Breakdown of student replies for this course.</p>
      <%= pie_chart staff_reports_course_replies_path(@course.id, year: @year, tab: params[:tab], format: :json) %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <h4>Gender</h4>
      <p class="text-darkish small">Breakdown of applicant gender for this course.</p>
      <%= pie_chart staff_reports_course_genders_path(@course.id, year: @year, format: :json) %>
    </div>
    <div class="col-md-6">
      <h4>Ages</h4>
      <p class="text-darkish small">Breakdown of applicant ages offers for this course.</p>
      <%= line_chart staff_reports_course_ages_path(@course.id, year: @year, format: :json), xtitle: 'Age', ytitle: 'Students' %>
    </div>
  </div>

  <hr>

  <h4>Schools</h4>
  <p class="text-darkish small">Breakdown of schools the applicants have studied at.</p>
  <%= bar_chart staff_reports_course_schools_path(@course.id, year: @year, tab: params[:tab], format: :json), xtitle: 'Students', ytitle: 'Schools' %>

  <hr>

  <h4>Applications by Week</h4>
  <p class="text-darkish small">Number of applications for this course broken down by week.</p>
  <%= line_chart staff_reports_course_applications_by_week_path(@course.id, year: @year, tab: params[:tab], format: :json), xtitle: 'Weeks', ytitle: 'Students' %>

<% else %>
  <p class="text-darkish small text-center"><em>There are no applicants for this course</em></p>
<% end %>
