<h1>Future Prospects - All Decisions Made</h1>

<p>Hello <%= @student.full_name %>,</p>

<% selections = @application.course_selections_without_choices %>

<p>This email is to inform you that your have received decisions on the following
  <%= pluralize selections.count, 'course' %>:</p>

<ul>
  <% selections.each do |selection| %>
      <li><%= link_to selection.course.title, course_url(selection.course) %> &mdash; <%= selection.course.college.name %> </li>
  <% end %>
</ul>

<p>Next you need to <%= link_to 'sign in', new_student_session_url %> to Future Prospects to view what the decisions
  are, you can then proceed to reply with your own choices, so you can prioritise your offers.</p>

<p>You must do this before <strong><%= format_date @application.replies_due %></strong> or your application will be
  automatically cancelled, as after this date we are not able to process any applications.</p>

<p>Sincerely,
  <br><br>
  Future Prospects</p>
