<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= "#{@title} - " unless @title.nil? %>Future Prospects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', :media => 'all' %>

    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag 'application' %>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Main Navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Future Prospects', root_path, class: 'navbar-brand' %>
        <div class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Courses', courses_path %></li>
            <li><%= link_to 'Colleges', colleges_path %></li>
            <% if student_signed_in? %>
                <li><%= link_to 'Sign Out', destroy_student_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Register', new_student_registration_path %></li>
                <li><%= link_to 'Sign In', new_student_session_path %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </div>

    <!-- Container -->
    <div class="container">
      <%# Displays any flash messages that are available. %>
      <%= flash_messages %>

      <%# Displays title and breadcrumb if required %>
      <% unless @title.nil? %>
          <div class="page-title">
            <h2><%= @title %></h2>
            <%= breadcrumbs separator: ' &rsaquo; ' %>
            <hr class="small">
          </div>
      <% end %>

      <%# Main Content %>
      <%= yield %>

      <!-- Footer -->
      <footer class="text-center">
        <hr class="small">
        <small>&copy; Future Prospects <%= DateTime.now.year %></small>
      </footer>
    </div>
  </body>
</html>
